<div class="thumbnailcell">
		<div class="first">
			<%= image_tag(imgurl(thumbnails) , :"data-id" => thumbnails.id, :class => "productimg") %>
 		</div>
	<div class="thumbnaillabel">
   	<%= thumbnails.smlTitle %>
	<div class="thumbnaildetails">	<%= ContSpec.cache(thumbnails.id, "price") %> </div>
	</div>
</div>