<div class="thumbnailcell">
		<div class="first">
			<%= image_tag(imgurl(thumbnails) , :"data-id" => thumbnails.id, :class => "compareimg") %>
 		</div>
	<div class="thumbnaillabel">
   	<%= thumbnails.smlTitle %>
	<div class="thumbnaildetails">	<%= number_to_currency(ContSpec.cache(thumbnails.id, "price").value) %> </div>
	</div>
</div>