<div class="thumbnailcell">
		<div class="first">
			<%= image_tag(catspecs["imgmurl"], :"data-id" => thumbnails.id, :class => "compareimg") %>
 		</div>
	<div class="thumbnaillabel">
   	<%= thumbnails.small_title %>
	<div class="thumbnaildetails">	<%= number_to_currency(contspecs["price"]) %> </div>
	</div>
</div>