<div class="thumbnailcell">
		<div class="first">
			
			<%= image_tag(imgurl(cluster) , :"data-id" => cluster.representative.id, :class => "productimg", :alt => cluster.representative.smlTitle, :title => cluster.representative.smlTitle) %>
 		</div>
	<div class="thumbnaillabel">
   	<%= finalDisplay(thumbnails, "brand") %> <%= finalDisplay(thumbnails, "model") %>
	<div class="thumbnaildetails">	<%= finalDisplay(thumbnails, "price") %> </div>
	</div>
</div>