.DS_Store
log/*.log
tmp/**/*
config/database.yml
db/*.sqlite3
.~lock*
*.o
config/ultrasphinx/development.conf

lib/c_code/clusteringCode/CMakeCache.txt
lib/c_code/clusteringCode/codes/CMakeCache.txt
lib/c_code/clusteringCode/CMakeFiles/*
lib/c_code/clusteringCode/codes/CMakeFiles/*
lib/c_code/clusteringCode/cppconn/CMakeFiles/CMakeDirectoryInformation.cmake
lib/c_code/clusteringCode/cppconn/CMakeFiles/mysqlcppconn-static.dir/CXX.includecache
lib/c_code/clusteringCode/cppconn/CMakeFiles/mysqlcppconn-static.dir/DependInfo.cmake
lib/c_code/clusteringCode/cppconn/CMakeFiles/mysqlcppconn-static.dir/build.make
lib/c_code/clusteringCode/cppconn/CMakeFiles/mysqlcppconn-static.dir/cmake_clean.cmake
lib/c_code/clusteringCode/cppconn/CMakeFiles/mysqlcppconn-static.dir/cmake_clean_target.cmake
lib/c_code/clusteringCode/cppconn/CMakeFiles/mysqlcppconn-static.dir/depend.internal
lib/c_code/clusteringCode/cppconn/CMakeFiles/mysqlcppconn-static.dir/depend.make
lib/c_code/clusteringCode/cppconn/CMakeFiles/mysqlcppconn-static.dir/flags.make
lib/c_code/clusteringCode/cppconn/CMakeFiles/mysqlcppconn.dir/DependInfo.cmake
lib/c_code/clusteringCode/cppconn/CMakeFiles/mysqlcppconn.dir/build.make
lib/c_code/clusteringCode/cppconn/CMakeFiles/mysqlcppconn.dir/cmake_clean.cmake
lib/c_code/clusteringCode/cppconn/CMakeFiles/mysqlcppconn.dir/cmake_clean_target.cmake
lib/c_code/clusteringCode/cppconn/CMakeFiles/mysqlcppconn.dir/depend.internal
lib/c_code/clusteringCode/cppconn/CMakeFiles/mysqlcppconn.dir/depend.make
lib/c_code/clusteringCode/cppconn/CMakeFiles/mysqlcppconn.dir/depend.make.mark
lib/c_code/clusteringCode/cppconn/CMakeFiles/mysqlcppconn.dir/flags.make
lib/c_code/clusteringCode/cppconn/CMakeFiles/mysqlcppconn.dir/link.txt
lib/c_code/clusteringCode/cppconn/Makefile
lib/c_code/clusteringCode/cppconn/cmake_install.cmake
lib/c_code/clusteringCode/cppconn/libmysqlcppconn-static.a
lib/c_code/clusteringCode/drivermanager/CMakeFiles/CMakeDirectoryInformation.cmake
lib/c_code/clusteringCode/drivermanager/Makefile
lib/c_code/clusteringCode/drivermanager/cmake_install.cmake
lib/c_code/clusteringCode/CMakeFiles/CMakeCCompiler.cmake
lib/c_code/clusteringCode/CMakeFiles/CMakeDirectoryInformation.cmake
lib/c_code/clusteringCode/CMakeFiles/CMakeSystem.cmake
lib/c_code/clusteringCode/CMakeFiles/Makefile.cmake
lib/c_code/clusteringCode/CMakeFiles/Makefile2
lib/c_code/clusteringCode/Makefile
lib/c_code/clusteringCode/cmake_install.cmake
lib/c_code/clusteringCode/codes/Makefile
lib/c_code/clusteringCode/codes/cmake_install.cmake


