.DS_Store
log/*.log
log/*.txt
tmp/**/*
tmp/*
config/database.yml
db/*.sqlite3
.~lock*
*.o
config/ultrasphinx/*.conf
public/system



lib/c_code/clusteringCodes/CMakeFiles/*
lib/c_code/clusteringCodes/CMakeFiles/*/*
lib/c_code/clusteringCodes/Makefile
lib/c_code/clusteringCodes/cmake_install.cmake
lib/c_code/clusteringCodes/CMakeCache.txt


lib/c_code/clusteringCodes/cppconn/CMakeFiles/*
lib/c_code/clusteringCodes/cppconn/CMakeFiles/*/*
lib/c_code/clusteringCodes/cppconn/Makefile
lib/c_code/clusteringCodes/cppconn/cmake_install.cmake

lib/c_code/clusteringCodes/codes/CMakeFiles/*
lib/c_code/clusteringCodes/codes/CMakeFiles/*/*
lib/c_code/clusteringCodes/codes/Makefile
lib/c_code/clusteringCodes/codes/cmake_install.cmake


