.DS_Store
log/*.log
log/*.txt
tmp/**/*
tmp/*
config/database.yml
db/*.sqlite3
.~lock*
*.o
config/ultrasphinx/*.conf




lib/c_code/clusteringCode/CMakeFiles/*
lib/c_code/clusteringCode/CMakeFiles/*/*
lib/c_code/clusteringCode/Makefile
lib/c_code/clusteringCode/cmake_install.cmake

lib/c_code/clusteringCode/cppconn/CMakeFiles/*
lib/c_code/clusteringCode/cppconn/CMakeFiles/*/*
lib/c_code/clusteringCode/cppconc/Makefile
lib/c_code/clusteringCode/cppconn/cmake_install.cmake

lib/c_code/clusteringCode/codes/CMakeFiles/*
lib/c_code/clusteringCode/codes/CMakeFiles/*/*
lib/c_code/clusteringCode/codes/Makefile
lib/c_code/clusteringCode/codes/cmake_install.cmake


