<h1>Editing amazon_group</h1>

<% form_for(@amazon_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @amazon_group %> |
<%= link_to 'Back', amazon_groups_path %>
