/* CSS declarations shared between grid view and list view (Optemo Direct and Optemo Assist) go here */

/* Table of Contents
 * -----------------
 *  Global Declarations
 *  Navigator Bar
 *  Main Content (Right Side)
 *  Main Nav Controls (Left Side)
 *  Drag And Drop Compare
 *  Sliders
 *  Survey
 *  Footer
 *  Tour popup
 *  Autocomplete
 *  Direct Comparison
 *  Show page and related
 *  Awesome Buttons
 */

 /*--------------------------------------//
 //         Global Declarations          //
 //--------------------------------------*/

body {
    height: 100%;
    padding: 0;
    
}
html {
    height: 100%;
}
#mycenter {
    width: 948px;
}
h3 {
	margin: 0 0 3px;
}

/*--------------------------------------//
//            Navigator Bar             //
//--------------------------------------*/

.watermark {
	right: 10px;
	top: 835px;
}
#title {
	position: absolute;
	left: 291px;
	top: 22px;
	display: none;
}
#intro {
	display: none;
	font-family: 'arial narrow';
	font-size: 1.05em;
	position: absolute;
	left: 291px;
	top: 93px;
	width: 416px;
}
#flags {
	float: right;
}
#header {
   padding-top: 8px;
   margin-left: 20px;
   position: relative;
   width: 920px;
   height: 70px;
}
#header_buttons {
	position: absolute;
	height: 40px;
	bottom: -8px;
	right: 0;
}
#header_buttons img{
	margin-top: 0px;
	vertical-align: middle;
}
#tagline {
	display:inline;
	padding-top:18px;
	width:420px;
	float:left;
}
#filterbar {
	padding-bottom: 12px;
}
.bd {
	padding-top: 5px;
	width: 100%;
	height: 100%;
    margin-top: 4px;
	min-height: 744px; /* Empirically determined; used for embedded LPH layout */
}

#navigator_bar {
	/*height: 22px;*/
	text-align: center;
	margin-bottom: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	position: relative;
}
.rounded_nav {
    background-color: #e1e1e1;
	border: 1px solid #d0d0d0;
}
#navigator_bar .smalllink{
	font-size: 0.75em;
	margin-left: 3px;
}

.demo_selector {
	float: left;
	width: 260px;
	font-size: 80%;
}
.demo_selector p {
	margin: 0;
	color: gray;
}

/*--------------------------------------//
//      Main Content (Right Side)       //
//--------------------------------------*/

div.rowdiv {
}

.greybg {
    background:none repeat scroll 0 0 #EFEFEF;
}

.fv {
	float: left;
	width: 190px;
	margin-left: 25px;
}

/* Navigator box */
.product_box {
	position: relative;
	width:160px;
	height: 153px;
	margin: auto;
	margin-bottom:2px;
}

.price {
	color: #F5000B;
	font-size: 1em;
	margin-top: 5px;
}

.itemtitle {
    font-size: 1.4em;
    line-height: 1.7em;
    margin-left: 25px;
}

.priceunit {
  font-size: 0.8em;
/*  display:inline; */
  position:relative;
  margin-left: 5px;
  top: 10px;
}

/*--------------------------------------//
//    Main Nav Controls (Left Side)     //
//--------------------------------------*/

div #leftbar {
	padding: 0;
	margin: 0;
	width: 180px;
	float: left;
	position: relative;
}
.leftboxes {
	margin: 0 0 5px 4px;
	padding: 6px;
}
.rounded_leftboxes {
	border: 1px solid #ccc;        
}

#myfilter_search {
	width: 119px;
}
#submit_button {
	margin-top: 2px;
	width: 32px;
	font-size:11px;
}

#savebar {
/* 	background-image:url(../images/bullseye.png);
	background-position:bottom; */
	background-repeat: no-repeat;
/*	min-height:100px; */
}

#ajaxfilter {
	display:inline;
}

/*--------------------------------------//
//         Drag And Drop Compare        //
//--------------------------------------*/
div.ui-state-dragging { 
	border:1px dashed #c96; 
	background: #ebe9de;
}
div.drop-box-hover { 
	background: #dbd9ce; 
	color: #363636; 
}
.left_behind_box_ghost { 
	opacity:0.4;
}

[if IE] .left_behind_box_ghost { 
	filter:alpha(opacity=40);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);  /* IE7 */    
}

/* These might be useful in future - helps with drag and drop obviousness
.productimgblackborder {
 	border: 1px gray dashed; 
}
.productimgwhiteborder {
 	border: 1px #e7e7e7 dashed; 
} */

[ if IE ] .dragHand {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);  /* IE7 */
  filter: alpha(opacity=35);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)"; /* IE8 */  
}

.saveditem {
	position: relative;
	width: 71px;
	height: 80px;
	float: left;
	text-align: center;
	padding: 5px 1px 1px 3px;
	margin: 5px 6px 0 0;
	background: url(../images/savebg.png) no-repeat;
}
div.smalldesc {
	font-size: 0.7em;
	padding: 3px 0;
	width:75px;
}
.savedmsg {
	color: #F5000B;
	margin-bottom: 4px;
	margin-left: 6px;
	font-size:0.9em;
	display: none;
}
.savesome {
	font-size: 0.9em;
	width:180px;
	padding:7px;
}
#compare_button {
	clear: both; 
	padding-left: 83px; 
	padding-top: 5px;
}
.selected_cat_features img {
	vertical-align: baseline;
}

/* IE hack for save bar maybe? */
.gainlayout div {
	zoom: 1;
}

/*--------------------------------------//
//                Sliders               //
//--------------------------------------*/

.ui-slider { 
	position: relative; 
	text-align: left; 
}
.ui-slider .ui-slider-handle:hover { 
	color: black; 
	text-decoration: none;
}
.ui-slider .ui-slider-handle { 
	background:url(../../../images/diamond.gif) no-repeat;
	font-size: 0.6em;
	color: black;
	height:13px; width:16px;text-decoration:none;outline:none;position:absolute;z-index:2;
}
.ui-slider .ui-slider-range { 
	position: absolute; 
	z-index: 1; 
	font-size: .7em; 
	display: block; 
	border: 0; 
}
/*.ui-slider-horizontal { background:url(../../../images/slider.gif) no-repeat; height: 13px; }*/
.ui-slider-horizontal .ui-slider-handle { 
	top: -3px; 
	margin-left: -8px; 
}
.ui-slider-horizontal .ui-slider-range { 
	top: 0; 
	height: 65%; 
	/* transparency for Firefox, Safari & Opera */ 
	opacity:0.3; 
	/*and now for IE (other browsers will ignore this):*/
	filter: alpha(opacity=30);
}
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-slider-vertical .ui-slider-handle { 
	background:url(../../../images/diamond_vertical.gif) no-repeat; 
	height:13px; 
	width:9px; 
	overflow:hidden;
	position:absolute;
	z-index:2;
}
.slider {
	margin: 0 0 0 7px;
	width: 155px;
	padding-bottom: 6px;
	position: relative;
}
.centerofslider {
	background:url(../../../images/slider.gif) no-repeat;
	height:13px; 
	overflow:hidden;
}
/* Filter Box */
.filtersdesc {
	font-size: 0.8em;
	margin-bottom: 3px;
	font-weight: lighter;
}

.label {
	font-weight: bold;
	text-align: left;
	font-size: 0.8em;
	width: 163px;
	margin-top: 0.6em;
	position: relative;
}
.space {
	margin-bottom: 15px; /*Spacing for histogram*/
}
.reset {
	font-size: 0.8em;
	text-decoration: underline;
}

.valbelow {
	padding-top: 18px;
}
.valabove {
	margin-top: -34px;
	height: 29px !important;
	background-position: 0 100% !important;
}
.unitdisp {      /* Display units of features in filters */
	font-size: 0.8em;
	font-weight: normal;
}
.feature {
    position: relative;
    clear: both;
    padding-bottom:2px;
}

.desc {
	display: none;
	position: absolute;
	bottom: 1.5em;
	left: 0;
	padding: 4px;
	border: solid thin black;
	background-color: #fff;
	z-index: 10;
}
.hist {
	position: absolute;
	text-align: left;
	left: 7px;
	top: 16px;
}


/*--------------------------------------//
//                Survey                //
//--------------------------------------*/

.decisionoverlay {
	padding: 35px 0 0 0;
	font-size: 0.8em;
	text-align: justify;
}
.leftbutton {
	float:left; 
	padding-left:140px;
}
.rightbutton {
	float: left; 
	padding-left:80px;
}
.surveyquestions {
	width: 560px;
	font-size: 0.9em;
	text-align: justify;
}
.surveyimage {
	text-align: center; 
}
#feedback {
	position:fixed; 
	right: 0; 
	top: 250px;
	z-index:2;
	cursor: pointer;
}

/*--------------------------------------//
//                Footer                //
//--------------------------------------*/

#bottomlinks {
	margin: 3px auto;
	position: absolute;
	width: 948px;
	text-align: center;
	font-size: 0.8em;
}

/* Content related stuff */
.listing {
	margin: 0;
}
.content {
	margin: 0 20px;
}
.content h2 {
	margin-top: 20px;
}

/*--------------------------------------//
//              Tour popup              //
//--------------------------------------*/

.popupTour{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:150px;
width:300px;
background:#FFFFFF;
border:3px solid #444444;
z-index:100000;
padding:12px;
font-size:13px;
}
.popupTour h1{
text-align:left;
color:#5f8ed9;
font-size:22px;
font-weight:700;
/* border-top:1px dotted #D3D3D3; */
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:15px;
margin-top:0;
}
.popupnextbutton {
	font-size:1.3em;
}

.popupcloseinstructions {
	font-size:0.7em;
}

.popupTour hr {
	border-color:#BBB;
	border-style: solid none;
	border-width: 1px 0;
	height: 2px;
}

.popupTourClose {
    font-size:14px;
    line-height:14px;
    right:6px;
    top:4px;
    position:absolute;
    color:#6fa5fd;
    font-weight:700;
    display:block;
}

.tourDrawAttention
{
	border: 2px solid red;
	background: #fffcd3;
	margin:auto;
}

.navigator_box .tourDrawAttention
{
	border: 2px solid red;
	background: #fffcd3;
}

#tourButton{
	font-size: 0.8em;
	text-align: center;
	margin-top: 20px;
	text-decoration: underline;
}

/*--------------------------------------//
//             Autocomplete             //
//--------------------------------------*/

.ac_results {
	padding: 0;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}


/*--------------------------------------//
//          Direct Comparison           //
//--------------------------------------*/

.column {
	float: left;
}
#comparisonmatrix {
	position: relative;
	width:100%;
}
.cell {
	border-right: gray 1px dashed;
	width: 180px;
	height: 23px;
	font-size: 0.9em;
	padding: 7px 0px 0px 10px;
}
.longcolumn .cell {
	border-right: none;
	width: 400px;
}
.thumbnailcell {
	padding-top: 15px;
	border-right: gray 1px dashed;
	width: 190px;
	height: 180px;
}
.columntitle {
	background: url(../images/columntitlebg.gif);
	width: 189px;
	height: 23px;
	font-size: 0.9em;
	padding-top: 7px;
	border-right: solid 1px #ccc;
	z-index: 4;
	position: relative;
}
.longcolumn .columntitle {
	width: 420px;
}
.bgrow {
	height: 30px;
	background: url(../images/columntitlebg.gif) repeat;
	width: 750px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
	border-right: solid 1px #ccc;
}
.outertitle {
	width: 189px;
	border-right: solid 2px white;
	z-index: 4;
	position: relative;
}
.longcolumn .outertitle {
	width: 419px;
}
.graybg {
	background: #DADADA;
}

.greenbg {
	background: #CCEDBB;
}

.whitebg {
	background: white;
}
.leftmostcolumn {
	width: 130px;
	padding-left: 0px;
}
.leftcolumntext {
	font-weight: bold;
	padding-right: 10px;
	text-align: right;
}
.leftmostoutertitle {
	width: 129px;
}
.leftmostcolumntitle {
	width: 128px;
	border-left: solid 1px #ccc;
}
.tabletitle {
	font-size:0.85em;
	font-weight: normal;
}
.remove {
	font-size: 0.8em;
	padding-left: 10px;
}
.first {
	height: 100px;
	text-align: center;
}
.thumbnaillabel {
	text-align:center;
	padding-top: 25px;
	color:#0A2088;
}
.thumbnaildetails {
	color: #F5000B;
}
.lowlightfeature {
	color: #777;
}
.regularfeature {
	color: #000;
}

/*--------------------------------------//
//        Show page and related         //
//--------------------------------------*/

div#silkscreen {
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5000px;
	z-index: 3;
	opacity: 0.50;
	filter: alpha(opacity = 50);
	display: none;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}

#outsidecontainer {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 940px;
	height: 800px;
	border-top: solid 33px #80C35A;
	background: white;
	z-index: 4;
	display: none;
}

div#info {
	margin-top: -33px;
	font-size: 0.9em;
	z-index: 5;
	padding: 0px 23px 0px 22px;
}

div#loading {
	top: 345px;
	left: 447px;
	position: absolute;
	display: none;
	z-index: 2;
	width: 200px;
	font-size: 2em;
	background-color: #eee;
	border: solid black 3px;
	padding: 20px;
}
div#filter_bar_loading{
    display: none;
    position:absolute;
    z-index: 3;
    background-color: #eee;
    border: solid black 3px;
    padding: 10px;
    width: 100px;
    top: 300px;
    left: 250px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    -border-radius: 5px;
    text-align:center;
}

#image {
	text-align: center;
	width: 390px;
/* 	float: left; */
}
#features {
	width: 230px;
	float: right;
	font-size: 11px;
}
#features div {
    height: 38px;
}
#features img {
    float: left;
    padding-right: 5px;
}
div#textfeatures, div#reviews {
	clear:both;
}

#features ul {
	list-style-type: none;
}

div .showtable{
	float: left;
	text-align: center;
	width: 400px;
	margin-right:10px;
	border: 1px dotted black;
}
div .left{
	float: left;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 193px;
}

#tab_header ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#tab_header li {
	float: left;
	border: 1px solid #bbb;
	border-bottom-width: 0;
	margin: 0;
}

#tab_header a {
	text-decoration: none;
	display: block;
	background: #eee;
	padding: 0.24em 1em;
	color: #00c;
	width: 144px;
	text-align: center;
}

#tab_header a:hover {
	background: #ddf;
}

#tab_header #tab_selected {
	border-color: black;
}

#tab_header #tab_selected a {
	position: relative;
	top: 1px;
	background: white;
	color: black;
	font-weight: bold;
}

#tabbed_content {
	border: 1px solid black;
	clear: both;
	padding: 0 1em;
	width: 493px;
	float: left;
}

#compare_field {
    float: right;
    width: 180px;
}

#features h2 {
    font-size: 1.5em;
}

/*--------------------------------------//
//            Awesome Buttons           //
//--------------------------------------*/
/* Zurb http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba */
.awesome, .awesome:visited {
	background: #AAA;/* url(/images/alert-overlay.png) repeat-x; */
	/*display: inline-block; */
	padding: 5px 10px 4px; 
	color: #F5F5F5; 
	text-decoration: none;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	/*position: relative;*/
	cursor: pointer;
}

.awesome:hover							{ background-color: #676767; color: #e6e6e6; }
/*.awesome:active							{ top: 1px; }*/
.small_awesome, .small_awesome:visited 			{ font-size: 11px; padding: ; }
.awesome, .awesome:visited,
.medium_awesome, .medium_awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large_awesome, .large_awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }
.xlarge_awesome, .xlarge_awesome:visited 			{ font-size: 16px; padding: 12px 21px 13px; }

/* Zurb http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba */
.awesome_tour, .awesome_tour:visited {
	background: #222; /*url(/images/alert-overlay.png) repeat-x; */
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.awesome_tour:hover							{ background-color: #111; color: #fff; }
.awesome_tour:active							{ top: 1px; }
.small_awesome_tour, .small_awesome_tour:visited 			{ font-size: 11px; padding: ; }
.awesome_tour, .awesome_tour:visited,
.medium_awesome_tour, .medium_awesome_tour:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }

/*
 * Galleria Classic Theme
 * Copyright (c) 2010, Aino
 * Licensed under the MIT license.
 * Modified by Zev Thompson of Optemo.
 */
 
.galleria-container {
    position: relative;
    overflow: hidden;
    background: #FFF;
}
.galleria-container img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.galleria-stage {
    position: absolute;
    top: 10px;
    bottom: 60px;
    left: 10px;
    right: 10px;
    overflow:hidden;
}
.galleria-thumbnails-container {
    height: 50px;
    bottom: 0;
    position: absolute;
    left: 10px;
    right: 10px;
    z-index: 2;
}
.galleria-carousel .galleria-thumbnails-list {
    margin-left: 30px;
    margin-right: 30px;
}
.galleria-thumbnails .galleria-image {
    height: 40px;
    width: 60px;
    background: #000;
    margin: 0 5px 0 0;
    border: 1px solid #000;;
    float: left;
    cursor: pointer;
}
.galleria-counter {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: right;
    color: #fff;
    font: normal 11px/1 arial,sans-serif;
    z-index: 2;
}
.galleria-loader {
    background: #000;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
    background: url(../images/classic-loader.gif) no-repeat 2px 2px;
}
.galleria-info {
    width: 50%;
    top: 15px;
    left: 15px;
    z-index: 2;
    position: absolute;
}
.galleria-info-text {
    background-color: #000;
    padding: 12px;
    display: none;
    /* IE7 */ zoom:1;
}
.galleria-info-title {
    font: bold 12px/1.1 arial,sans-serif;
    margin: 0;
    color: #fff;
}
.galleria-info-description {
    font: italic 12px/1.4 georgia,serif;
    margin: 0;
    color: #bbb;
}
.galleria-info-title+.galleria-info-description {
    margin-top: 7px;
}
.galleria-info-close {
    width: 9px;
    height: 9px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-position: -753px -11px;
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: pointer;
    display: none;
}
.galleria-info-close:hover{
    opacity:1;
    filter: alpha(opacity=100);
}
.galleria-info-link {
    background-position: -669px -5px;
    opacity: .7;
    filter: alpha(opacity=70);
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #000;
}
.galleria-info-link:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.galleria-image-nav {
    position: absolute;
    top: 50%;
    margin-top: -62px;
    width: 100%;
    height: 62px;
    left: 0;
}
.galleria-image-nav-left,
.galleria-image-nav-right {
    opacity: .3;
    filter: alpha(opacity=30);
    cursor: pointer;
    width: 62px;
    height: 124px;
    position: absolute;
    left: 10px;
    z-index: 2;
    background-position: 0 46px;
}
.galleria-image-nav-right {
    left: auto;
    right: 10px;
    background-position: -254px 46px;
    z-index: 2;
}
.galleria-image-nav-left:hover,
.galleria-image-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.galleria-thumb-nav-left,
.galleria-thumb-nav-right {
    cursor: pointer;
    display: none;
    background-position: -495px 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 23px;
    z-index: 3;
    opacity: .8;
    filter: alpha(opacity=80);
}
.galleria-thumb-nav-right {
    background-position: -578px 5px;
    border-right: none;
    right: 0;
    left: auto;
}
.galleria-thumbnails-container .disabled {
    opacity: .2;
    filter: alpha(opacity=20);
    cursor: default;
}
.galleria-thumb-nav-left:hover,
.galleria-thumb-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}
.galleria-thumbnails-container .disabled:hover {
    opacity: 0.2;
    filter: alpha(opacity=20);
    background-color: transparent;
}

.galleria-carousel .galleria-thumb-nav-left,
.galleria-carousel .galleria-thumb-nav-right {
    display: block;
}
.galleria-thumb-nav-left,
.galleria-thumb-nav-right,
.galleria-info-link,
.galleria-info-close,
.galleria-image-nav-left,
.galleria-image-nav-right {
    background-image: url(../images/classic-map.png);
    background-repeat: no-repeat;
}

/*--------------------------------------//
//            Color Picker              //
//--------------------------------------*/
.swatch {
	width: 13px;
	height: 13px;
	background-color: red;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 1px 3px rgba(50,50,50,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(50,50,50,0.5);
	/*border: 1px solid #ccc;*/
	float: left;
	margin: 0 2px 2px 0;
	cursor: pointer;
}
/*.swatch:hover {
	-moz-box-shadow: 0 1px 3px rgba(50,50,50,0.5), inset 0px 0px 10px white;
	-webkit-box-shadow: 0 1px 3px rgba(50,50,50,0.5), inset 0px 0px 10px white;
}*/
.selected_swatch {
	border: 1px solid black;
	width: 13px;
	height: 13px;
	margin: -1px 1px 1px -1px;
	-moz-border-radius: 0px; 
	-webkit-border-radius: 0px;
}