/* CSS declarations specific to grid view (Optemo Assist) go here. */

/* Table of Contents
 * -----------------
 *  Navigator Bar
 *  Main Content (Right Side)
 *  Drag And Drop Compare
 *  Filters
 *  Footer
 */
 
 /*--------------------------------------//
 //            Navigator Bar             //
 //--------------------------------------*/
 
#optemo_embedder div#main {
	width: 555px;
	float: right;
}

#optemo_embedder .left-right-wrapper {
	clear: both;
	overflow: hidden;
}

#optemo_embedder #columnheader {
	font-size: 0.8em;
	padding-top: 4px;
	height: 27px;
}

/*--------------------------------------//
//      Main Content (Right Side)       //
//--------------------------------------*/

#optemo_embedder .navbox {
	font-size: 0.85em;
	float: left;
	position: relative;
	margin-right: 4px; 
	margin-bottom: 3px;
	height:272px;
	width: 181px; /*+2 for the border*/
	background: right center url(../images/seperatorbar.png) no-repeat;*/
}

#optemo_embedder .title {
	text-align: left;
	margin: 0 8px;
	padding-bottom: 4px;
	border-bottom:1px solid #CCCCCC;
	height: 28px;
	font-weight: bold;
	position:relative;
}
#optemo_embedder .image_boundingbox {
	margin: 1px auto;
	position:relative;
	text-align:center;
	height:150px;
	width: 150px;
}

#optemo_embedder img.productimg {
	cursor: move;
	width: 100%;
}
#optemo_embedder .productinfo {
	padding-left: 20px;
}
#optemo_embedder .productspecs {
	font-size:0.8em;
}
/*.clusterspecs {
	background: url(../images/gradient.png) no-repeat;
	width: 75px;
	height: 9px;
}
.clusterspecs div {
	background: white;
	height: 100%;
}
.clustertext {
	font-size: 0.7em;
}
.clusterspecs .leftbox{
	float: left;
}
.clusterspecs .rightbox {
	float: right;
}
.clusterspecs .referencebar {
	width: 75px;
	height: 4px;
	border-bottom: 1px solid black;
	position: absolute;
	background: none;
}
*/
#optemo_embedder .topbar {
	width: 181px;
	height: 218px;
}
#optemo_embedder .bottombar {
	clear: left;
	margin-top: 3px;
	padding: 0 4px;
}
/*#extended_box .topbar {
	float: left;
}
#extended_box p {
	margin:15px 0 10px 0;
}
.filterchange {
	text-align: center;
	padding-right: 4px;
}
.filterchange ul {
	padding-left: 20px;
}
*/
#optemo_embedder .simlinks {
	font-size: 0.8em;
}

/*#extended_box {
	width: auto;
	border: 3px solid #D99741;
	margin-right:0;
}
#extended_box h2 {
	background-color: #D99741;
}*/

/*--------------------------------------//
//         Drag And Drop Compare        //
//--------------------------------------*/

#optemo_embedder .dragHand {
	display: none;
	position: absolute;
	left: 0;
	top: 5px;
	z-index:1;
}

#optemo_embedder .navbox:hover .dragHand {
	display: block;
}

#optemo_embedder #draghandexample {
	position: absolute;
	left: 20px;
	top: 40px;
	z-index: 1;
}
#optemo_embedder #IE .text-place #draghandexample {
	display: none;
}

/*--------------------------------------//
//                Sliders               //
//--------------------------------------*/

/*--------------------------------------//
//                Footer                //
//--------------------------------------*/

/*#bottomlinks {
	top: 835px;
}*/
