/* CSS declarations shared between grid view and list view (Optemo Direct and Optemo Assist) go here */

/* Table of Contents
 * -----------------
 *  Global Declarations
 *  Navigator Bar
 *  Main Content (Right Side)
 *  Main Nav Controls (Left Side)
 *  Drag And Drop Compare
 *  Sliders
 *  Survey
 *  Footer
 *  Tour popup
 *  Autocomplete
 *  Direct Comparison
 *  Show page and related
 *  Awesome Buttons
 */

 /*--------------------------------------//
 //         Global Declarations          //
 //--------------------------------------*/

/*body {
    padding: 0;
}
html {
    height: 100%;
}*/

/*--------------------------------------//
//            Navigator Bar             //
//--------------------------------------*/

#optemo_embedder .watermark {
    font-size: 0.8em;
    padding: 4px 0 5px 37px;
}

#optemo_embedder #main #hero {
    border: 1px solid #d0d0d0;
}

#optemo_embedder #product_content .border-content {
    border: 1px solid #d0d0d0;
}

#optemo_embedder #main .rowdiv, #optemo_embedder #main #hero {
    margin-bottom: 3px;
    border: 1px solid #d0d0d0;
    zoom: 1;
}
#optemo_embedder #main .rowdiv {
  position: relative;
  overflow: visible;
  clear: both;
  }
#optemo_embedder #main .rowdiv .title_landing_type {
   background: #FFFFFF;
    color: #666666;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    margin-left: 6px;
    padding: 0 9px;
    position: absolute;
    top: -9px;
  left: 0;
  border: none;
  display:inline;
  }
#optemo_embedder .showcase_banner_div {
    margin: 12px 0;
    clear:both;
}
#optemo_embedder #product_content .rowdiv {
    border: none;
}
#optemo_embedder #main #hero {
    position: relative;
}

/*#header {
    padding-top: 8px;
    margin-left: 20px;
    position: relative;
    width: 920px;
    height: 70px;
}
#header_buttons {
	position: absolute;
	height: 40px;
	bottom: -8px;
	right: 0;
}
#header_buttons img{
	margin-top: 0px;
	vertical-align: middle;
}
#tagline {
	display:inline;
	padding-top:18px;
	width:420px;
	float:left;
}*/
#optemo_embedder #filterbar {
	padding-bottom: 12px;
}
#optemo_embedder #IE #filterbar {
	padding-bottom: 0px;
}
#optemo_embedder .bd {
	position: relative;
	padding-top: 5px;
	width: 100%;
	height: 100%;
	min-height: 744px; /* Empirically determined; used for embedded LPH layout */
}

#optemo_embedder #navigator_bar {
	border-top: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
    background-image:-moz-linear-gradient(center bottom, #FEE719, #FFF200);
    background-image:-webkit-gradient(linear, left bottom, left top, from(#FEE719), to(#FFF200));
    height: 75px;
    overflow: hidden;
    overflow: hidden;
    position: relative;
  margin-bottom: 1px;
}

#optemo_embedder #IE #navigator_bar {
    Background: url("/images/ie_navigator_bar_bg.gif") repeat-x;
}
#optemo_embedder #navigator_bar_bottom {
	padding: 0;
	position: relative;
	border: 1px solid #d2d2d2;
    background-image:-moz-linear-gradient(center bottom, #d1d1d1, #e9e9e9);
	background-image:-webkit-gradient(linear, left bottom, left top, from(#d1d1d1), to(#e9e9e9));
    margin-top: 5px;
    height: 49px;
   *height: 51px;
}

#optemo_embedder #navigator_bar_bottom #navtitle {
    margin: 15px 17px;
}

#optemo_embedder #navigator_bar_top {
	padding: 0;
	position: relative;
	border: 1px solid #d2d2d2;
    background-image: -moz-linear-gradient(center bottom, #FEE719, #FFF200);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#FEE719), to(#FFF200));
    margin-bottom: 5px;
    height: 49px;
   *height: 51px;
}

#optemo_embedder #navigator_bar_top #navtitle {
    margin: 15px 17px;
}
    #optemo_embedder #navigator_bar a#nav_compare_btn {
    position: absolute;
    top: 19px;
    right: 10px;
    font-size: 12pt;
    width: 149px;
    height: 20px;
    padding: 8px 0 8px;
    text-align: center;
    font-weight: bold; 
}
#optemo_embedder #navigator_bar a#nav_compare_btn:hover, #optemo_embedder #navigator_bar a#nav_compare_btn:visited,
       #optemo_embedder #navigator_bar_bottom a#nav_compare_btn_bottom:hover, #optemo_embedder #navigator_bar_bottom a#nav_compare_btn_bottom:visited {
    color: #fff;
}
#optemo_embedder #navigator_bar_bottom a#nav_compare_btn_bottom {
    float: right;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 11px;
    margin-right: 5px;
}
#optemo_embedder #IE #navigator_bar_bottom a#nav_compare_btn_bottom {
   margin-top: 8px;
   }
#optemo_embedder .seeall {
   float: right;
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 5px;
   }
#optemo_embedder #navigator_bar_top .seeall {
   margin-top: 6px;
   }
#optemo_embedder #navigator_bar_bottom .seeall {
   margin-top: 6px;
   }
#optemo_embedder #navigator_bar_bottom a#nav_compare_btn_bottom {
    margin-right: 12px;
    width: 120px;
    height: px;
    padding: 6px 0;
    text-align: center;
}

#optemo_embedder #IE #navigator_bar_bottom a#nav_compare_btn_bottom, #optemo_embedder #IE .seeall {
    float: none;
}
#optemo_embedder #IE #navigator_bar_bottom a#nav_compare_btn_bottom {
    position: absolute;
    right: 10px;
    padding: 8px 0;
    top: 0;
}
#optemo_embedder #IE .seeall {
    position: absolute;
    right: 15px;
    top: 2px;
}

#optemo_embedder #IE #navigator_bar_top {
    background: url(../images/ie_nav_top_bg.gif) repeat;    
}
#optemo_embedder #IE #navigator_bar_bottom {
    background: url(../images/ie_nav_bottom_bg.gif) repeat;
}
   
#optemo_embedder ul#sorting_method_box {
  list-style-type: none;
  font-size: 11px;
  height: 27px;
  padding: 13px 0 0 15px;
  margin: 0;
  *height: 30px;
}
#optemo_embedder ul#sorting_method_box li {
  display: inline;
  padding: 0;
}
#optemo_embedder ul#sorting_method_box li span.seperater{
  margin: 0;
  padding: 0;
  }
#optemo_embedder ul#sorting_method_box li a, #optemo_embedder ul#sorting_method_box li a:visited{
  text-decoration: none;
  color: #0A3498;
}
#optemo_embedder ul#sorting_method_box li a:hover{
  text-decoration: underline;
  }
.optemo_bluesubheading {
    font: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background: #D6DBF7;
    padding: 6px 6px 6px 20px;  
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    position: relative;
}

.optemo_special_boxes {
    float: right;
    padding-right: 10px;
    margin-top: 3px;
    font-size: 0.8em;
    font-weight: bold;
}
#optemo_embedder #IE .optemo_special_boxes {
    float: none;
    position: absolute;
    right: 10px;
    top: 3px;
}
/*.demo_selector {
	float: left;
	width: 260px;
	font-size: 80%;
}
.demo_selector p {
	margin: 0;
	color: gray;
}*/

/*--------------------------------------//
//      Main Content (Right Side)       //
//--------------------------------------*/


#optemo_embedder .poptitle {
	font-size: 1.13em;
	color: #FFF;
}
#optemo_embedder .poptitle a {
	height: 100%;
	display: block;
	padding: 6px 7px;
}

#optemo_embedder .bb_poptitle {
	font-weight: bold;
	font-size: 1.13em;
	color: #000;
    height: 22px;
    margin-left: -2px;
    margin-top: 5px;
	line-height:22px;
	margin-bottom:5px;
    overflow: visible;
   background: url("/images/bg_outsidecontainer.gif") repeat-x ;
   height: 40px;
}
#optemo_embedder .comp-title {
	display:block;
	float:left;
   margin: 10px 12px;
}

/*.fv {
	float: left;
	width: 190px;
	margin-left: 25px;
}*/

/* Navigator box */

#optemo_embedder .price {
	/*color: #F5000B;*/
	font-weight: bold;
	font-size: 1em;
	margin-top: 1px;
	margin-bottom: 2px;
}

#optemo_embedder .saleprice {
	/*color: #F5000B;*/
	color: #FF0000;
	font-size: 1em;
	font-weight: bold;
}
#optemo_embedder .save {
	/*color: #F5000B;*/
	font-weight: bold;
	font-size: 0.8em;
	padding-bottom: 1px;
}
#optemo_embedder .saleends {
	/*color: #F5000B;*/
	font-size: 0.8em;
}
#optemo_embedder .stars {
	padding-top: 3px;
}
/*.itemtitle {
    font-size: 1.4em;
    line-height: 1.7em;
    margin-left: 25px;
}

.priceunit {
  font-size: 0.8em;
  position:relative;
  margin-left: 5px;
  top: 10px;
}*/

/*--------------------------------------//
//    Main Nav Controls (Left Side)     //
//--------------------------------------*/

#optemo_embedder div #leftbar {
	padding: 0;
	margin: 0;
	width: 180px;
	float: left;
	position: relative;
}
#optemo_embedder .leftboxes {
	margin: 0 0 5px 4px;
	border: 1px solid #ccc;
	color: #4d4d4f;
}

/*#myfilter_search {
	width: 119px;
}
#submit_button {
	margin-top: 2px;
	width: 32px;
	font-size:11px;
}*/

#optemo_embedder #savebar {
	background-repeat: no-repeat;
}

* html #opt_savedproducts {
    height: 192px;
    height: expression( this.scrollHeight > 192 ? "193px" : "auto" ); /* sets max-height for IE */
}


#optemo_embedder #opt_savedproducts {
    max-height: 192px;
    overflow: auto;
    position: relative;
}

div#division { 
    max-width: 777px; /* this sets the max-width value for all standards-compliant browsers */
}



#optemo_embedder #IE #ajaxfilter {
   *display:inline-block;
    _padding-bottom: 7px;
}
#optemo_embedder .categorical {
	overflow: auto;
	max-height: 150px;
    padding-bottom: 20px;
    padding-top: 10px;
}
#optemo_embedder .categorical_advanced {
	overflow: auto;
    padding-bottom: 8px;
    padding-top: 8px;
}
#optemo_embedder .categorical .feature, #optemo_embedder .list_item {
    padding-bottom: 1px;
}
* html #optemo_embedder .categorical {
    height: expression( this.scrollHeight > 150 ? "150px" : "auto" ); /* sets max-height for IE */
}

#optemo_embedder a.binary_filter_text{
	color: #4d4d4f;
}
#optemo_embedder a.binary_filter_text:visited{
	color: #4d4d4f;
}
#optemo_embedder .disabled a.binary_filter_text{
	color: #ccc;
}
#optemo_embedder .av_count{
	font-size: 0.85em;
}

#optemo_embedder .hanging_indent {
    margin-top: 0px;
    margin-bottom: 5px;
    text-indent: -18px;
    margin-left: 18px;
}
/*--------------------------------------//
//         Drag And Drop Compare        //
//--------------------------------------*/
#optemo_embedder div.ui-state-dragging { 
	border:1px dashed #c96; 
	background: #ebe9de;
}
#optemo_embedder div.drop-box-hover { 
	background: #dbd9ce; 
	color: #363636; 
}
#optemo_embedder .left_behind_box_ghost { 
	opacity:0.4;
}

#optemo_embedder .saveditem {
	position: relative;
	width: 65px;
	height: 81px;
	float: left;
	text-align: center;
	padding: 0px 1px 0;
	margin: 5px 0 0 5px;
	border: 1px solid #C6C6C6;
	-moz-box-shadow: 0 2px 1px #888;
	-webkit-box-shadow: 0 2px 1px #888;
	font-size: 0.6em;
}
#optemo_embedder .savedmsg {
	color: #F5000B;
	margin-bottom: 4px;
	margin-left: 6px;
	font-size:0.9em;
	display: none;
}
#optemo_embedder #savesome {
	font-size: 0.9em;
	padding:15px;
	width: 117px;
	border: 1px solid #c8c8c8;
	margin: 20px auto 8px;
	font-size: 0.65em;
	-moz-box-shadow: 0px 2px 2px #888, inset 0 -10px 40px #ebebeb;
	-webkit-box-shadow: 0px 2px 2px #888, inset 0 -10px 40px #ebebeb;
	box-shadow: 0px 2px 2px #888, inset 0 -10px 40px #ebebeb;
}
#optemo_embedder #IE #savesome {
	font-size: 10px;
	padding:0;
	width: 147px;
	border: 0px solid #c8c8c8;
	margin: 20px auto 8px;
	font-size: 10px;
	box-shadow: none;
}
#optemo_embedder #compare_button , #optemo_embedder .optemo_compare_button {
	clear: both;
	font-size: 0.8em;
    margin: 5px 0;
    font-weight: bold;
}

#optemo_embedder .compare_button {
    font-size: 0.8em;
}

#optemo_embedder span.select-compare {
  font-size: 12px;
  }
#optemo_embedder #IE span.select-compare {
  margin-left: -4px;
  margin-left: -5px \0/;
  *margin-left: -6px;
  
  }
/*.selected_cat_features img {
	vertical-align: baseline;
}*/

/* IE hack for save bar maybe? */
#optemo_embedder .gainlayout div {
    zoom: 1;
}
#optemo_embedder .ie6 .gainlayout { 
    height: 0; 
}

#optemo_embedder #IE .box-top-r {
	height:32px;
	line-height:0;
	font-size:0;
	overflow:hidden;
	background: url(../images/box-top-round.gif) no-repeat;
}
#optemo_embedder #IE .box-bottom-r {
	height:17px;
	background: url(../images/box-bottom-round.gif) no-repeat;
}
#optemo_embedder #IE .text-place {
	padding:3px 7px 3px 14px;
	border-left:1px solid #c8c8c8;
	border-right:2px solid #c8c8c8;
	color:#4d4d4f;
	font-size:10px;
	line-height:11px;
	width:123px;
	background:url(../images/box-top-rptr.gif) repeat-x top #eeeeee;
}
#optemo_embedder .deleteX {
	position: absolute;
	right: -7px;
	top: -5px;
	z-index: 1;
}

/*--------------------------------------//
//                Sliders               //
//--------------------------------------*/

#optemo_embedder .ui-slider { 
	position: relative; 
	text-align: left; 
}
#optemo_embedder .ui-slider .ui-slider-handle:hover { 
	color: black; 
	text-decoration: none;
}
#optemo_embedder .ui-slider .ui-slider-handle:visited { 
	color: black; 
	text-decoration: none;
}
#optemo_embedder .ui-slider .ui-slider-handle { 
	background:url(../../../images/sliderhandlebox.gif) 0 0 no-repeat;
	/*background-color:#c0c0c0;
	border: 1px solid #4D4D4F;*/
	font-size: 0.7em;
	color: black;
	height:13px; width:16px;text-decoration:none;outline:none;position:absolute;z-index:2;
}

#optemo_embedder #IE .ui-slider .ui-slider-handle {
   overflow: available;
   display: inline-block;
   }
#optemo_embedder .ui-slider .ui-slider-handle span{
   _position: relative;
   _display: block;
   }

#optemo_embedder .ui-slider .ui-slider-range { 
	position: absolute; 
	z-index: 1; 
	font-size: .7em; 
	display: block; 
	border: 0; 
}
/*.ui-slider-horizontal { background:url(../../../images/slider.gif) no-repeat; height: 13px; }*/
#optemo_embedder .ui-slider-horizontal .ui-slider-handle { 
	top: -6px; 
	margin-left: -4px; 
}
#optemo_embedder .ui-slider-horizontal .ui-slider-range { 
	top: 0; 
	height: 65%; 
	/* transparency for Firefox, Safari & Opera */ 
	opacity:0.3; 
	/*and now for IE (other browsers will ignore this):*/
	filter: alpha(opacity=30);
}
#optemo_embedder .ui-slider-horizontal .ui-slider-range-min { left: 0; }
#optemo_embedder .ui-slider-horizontal .ui-slider-range-max { right: 0; }
#optemo_embedder .ui-slider-vertical .ui-slider-handle { 
	background:url(../../../images/diamond_vertical.gif) no-repeat; 
	height:13px; 
	width:9px; 
	overflow:hidden;
	position:absolute;
	z-index:2;
}
#optemo_embedder .slider {
	margin: 27px 0 0 3px;
	width: 155px;
	padding-bottom: 18px;
	position: relative;
}
#optemo_embedder .centerofslider {
	/*background:url(../../../images/slider.gif) no-repeat;*/
	height:4px; 
	background-color: #003b64;
}
/* Filter Box */
#optemo_embedder #filter_form {
	font-size: 0.85em;
}
#optemo_embedder .label {
	font-weight: bold;
	text-align: left;
	position: relative;
	clear: left;
	padding-top: 5px;
	padding-bottom: 4px;
    padding-left: 6px;
    background-color: #FFF102;
    margin-left: -6px;
    margin-top: 0;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    background-image:-moz-linear-gradient(center bottom, #FEE719, #FFF200);
    background-image:-webkit-gradient(linear, left bottom, left top, from(#FEE719), to(#FFF200)); 
}
#optemo_embedder .label img, #optemo_embedder .label-advanced-title img {
    position: absolute;
    bottom: 5px;
}
#optemo_embedder .label-advanced-title {
	font-weight: bold;
	text-align: left;
	position: relative;
	clear: left;
	padding-top: 6px;
	padding-bottom: 4px;
    padding-left: 6px;
    background-color: #FFF102;
    margin: 6px 0 0 0;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    background-image:-moz-linear-gradient(center bottom, #FEE719, #FFF200);
    background-image:-webkit-gradient(linear, left bottom, left top, from(#FEE719), to(#FFF200));
}
#optemo_embedder #IE .label, #optemo_embedder #IE .label-advanced-title {
    background: url('/images/filter_label_bg.gif') repeat-x;
}
#optemo_embedder #IE .label{
    padding-top: 7px;
}
#optemo_embedder #IE .label-advanced{
    padding-top: 10px;
    padding-top: 9px\0/;
    *padding-top: 9px;
}
   

#optemo_embedder .label-advanced {
	font-weight: bold;
	text-align: left;
	clear: left;
	padding-top: 8px;
	padding-bottom: 4px;
    padding-left: 6px;
    margin-left: -6px;
}

#optemo_embedder .space {
	margin-bottom: 15px; /*Spacing for histogram*/
}
#optemo_embedder div.without-space {
    margin-top: 0;
    *margin-top: -20px;
}


#optemo_embedder .valbelow {
	padding-top: 18px;
}
#optemo_embedder .valabove {
	margin-top: -34px;
	height: 29px !important;
	background-position: 0 100% !important;
}
#optemo_embedder .unitdisp {      /* Display units of features in filters */
	font-size: 0.8em;
	font-weight: normal;
}
#optemo_embedder .feature {
    padding: 0 0 0 6px;
}
#optemo_embedder .feature_last {
    padding: 1px 1px 4px 6px;
}
#optemo_embedder .feature_slider { /* relative position cause elements blow out in IE 6, so that only used in slider bar */
    position: relative;
    padding: 0 0 2px 6px;
}

   
   
#optemo_embedder .feature .label img, #optemo_embedder .feature_slider .label img, #optemo_embedder .label-advanced-title img {
    _position: static;
    vertical-align: text-top;
}

#optemo_embedder .desc {
	display: none;
	position: absolute;
	bottom: 1.5em;
	left: 0;
	padding: 4px;
	border: solid thin black;
	background-color: #fff;
	z-index: 10;
}
#optemo_embedder .hist {
	position: absolute;
	text-align: left;
	left: 9px;
	top: 36px;
}


/*--------------------------------------//
//                Survey                //
//--------------------------------------*/

/*.decisionoverlay {
	padding: 35px 0 0 0;
	font-size: 0.8em;
	text-align: justify;
}
.leftbutton {
	float:left; 
	padding-left:140px;
}
.rightbutton {
	float: left; 
	padding-left:80px;
}
.surveyquestions {
	width: 560px;
	font-size: 0.9em;
	text-align: justify;
}
.surveyimage {
	text-align: center; 
}*/

/*--------------------------------------//
//                Footer                //
//--------------------------------------*/

/*#bottomlinks {
	margin: 3px auto;
	position: absolute;
	width: 948px;
	text-align: center;
	font-size: 0.8em;
}

.content {
	margin: 0 20px;
}
.content h2 {
	margin-top: 20px;
}*/

/*--------------------------------------//
//              Tour popup              //
//--------------------------------------*/

/*.popupTour{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
/*height:150px;
width:300px;
background:#FFFFFF;
border:3px solid #444444;
z-index:100000;
padding:12px;
font-size:13px;
}
.popupTour h1{
text-align:left;
color:#5f8ed9;
font-size:22px;
font-weight:700;
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:15px;
margin-top:0;
}
.popupnextbutton {
	font-size:1.3em;
}

.popupcloseinstructions {
	font-size:0.7em;
}

.popupTour hr {
	border-color:#BBB;
	border-style: solid none;
	border-width: 1px 0;
	height: 2px;
}

.popupTourClose {
    font-size:14px;
    line-height:14px;
    right:6px;
    top:4px;
    position:absolute;
    color:#6fa5fd;
    font-weight:700;
    display:block;
}

.tourDrawAttention
{
	border: 2px solid red;
	background: #fffcd3;
	margin:auto;
}

.navbox .tourDrawAttention
{
	border: 2px solid red;
	background: #fffcd3;
}

#tourButton{
	font-size: 0.8em;
	text-align: center;
	margin-top: 20px;
	text-decoration: underline;
}
*/

/*--------------------------------------//
//             Autocomplete             //
//--------------------------------------*/

/*.ac_results {
	padding: 0;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0;
	padding: 2px 5px;
	cursor: default;
	display: block;
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
/*	line-height: 16px;
	overflow: hidden;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}*/


/*--------------------------------------//
//          Direct Comparison           //
//--------------------------------------*/

#optemo_embedder .column {
	float: left;
}
#optemo_embedder .comparisonmatrix {
	position: relative;
	width:100%;
	margin-top: 1px;
}
#optemo_embedder #hideable_matrix {
	display: none;
}
#optemo_embedder .cell {
/*	border-right: 1px solid #cccccc;*/
	width: 176px;
	height: 100%;
	font-size: 0.9em;
	padding: 0 3px 0 20px;
	float: left;
	position: relative;
}
#optemo_embedder .cell img {
    top: 3px;
    position: absolute;
}
#optemo_embedder .thumbnailcell {
	padding-top: 15px;
	padding-right: 10px;
/*	border-right: 1px solid #cccccc; */
	width: 189px;
	height: 250px;
	float: left;
}
#optemo_embedder .columntitle {
/*	background: url(../images/columntitlebg.gif); */
	width: 189px;
	height: 27px;
	font-size: 0.9em;
	padding-top: 3px;
	padding-right: 10px;
/*	border-right: solid 1px #ccc; */
	z-index: 4;
	position: relative;
	float: left;
    text-align: center;
}
#optemo_embedder .bgrow {
	height: 30px;
	background: url(../images/columntitlebg.gif) repeat;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
	border-right: solid 1px #ccc;
}
#optemo_embedder .graybg {
	background: #DADADA;
}

#optemo_embedder .whitebg {
	background: white;
}
#optemo_embedder .leftmostcolumn {
	width: 128px;
	padding-left: 0px;
}
#optemo_embedder .leftcolumntext {
	width: 124px;
	padding-left: 0px;
	font-weight: bold;
	padding-right: 7px;
	text-align: right;
}

#optemo_embedder .leftcolumnanchor {
	width: 124px;
	padding-left: 0px;
	font-weight: bold;
	padding-right: 7px;
	text-align: right;
}

#optemo_embedder .leftmostcolumntitle {
	width: 123px;
/*	border-left: solid 1px #ccc; */
	padding-left: 0px;
	font-weight: bold;
	padding-right: 7px;
	text-align: right;
}
#optemo_embedder .tabletitle {
	font-size:0.85em;
	font-weight: normal;
}
#optemo_embedder .remove {
	font-size: 0.8em;
	padding-left: 10px;
}
#optemo_embedder .first {
	height: 100px;
	text-align: center;
}


#optemo_embedder .thumbnaillabel {
	text-align:center;
	padding-top: 7px;
	color:#0A2088;
	height: 120px;
	line-height: 20px;
}

   
#optemo_embedder .thumbnaildetails {
	color: #F5000B;
	padding-bottom:5px;
}
#optemo_embedder .compare_row {
    clear: both;
    line-height: 23px;
    height:auto;
}
#optemo_embedder .double_height_compare_row {
    clear: both;
    line-height: 16px;
    height: 32px;
}
#optemo_embedder .double_height_compare_row .cell {
    height: 32px;
}
#optemo_embedder .triple_height_compare_row {
    clear: both;
    line-height: 16px;
    height: 48px;
}
#optemo_embedder .triple_height_compare_row .cell {
    height: 48px;
}
#optemo_embedder .quadruple_height_compare_row {
    clear: both;
    line-height: 16px;
    height: 64px;
}
#optemo_embedder .quadruple_height_compare_row .cell {
    height: 64px;
}
#optemo_embedder .toggle_specs img {
	vertical-align: top;
	margin-top: 6px;
}
#optemo_embedder .togglespecs {
	text-align:center; 
	padding:10px;
}
#optemo_embedder .closed {
	background: url("/images/demo-spindown-closed.gif") no-repeat left center;
	padding-left: 0;
	padding-right: 7px;
	display: block;
	width: 110px;
}

#optemo_embedder .open {
	background: url("/images/demo-spindown-open.gif") no-repeat left center;
	padding-left: 0;
	padding-right: 7px;
	display: block;
	width: 110px;
}

#optemo_embedder a.title_link,
#optemo_embedder a.title_link:visited {
    color: #000;
}

#optemo_embedder div.togglespecs {
    text-align: center;
    margin: 5px 0;
    *padding: 0;
}

#optemo_embedder div.spec-capt {
    background: #DADADA;
}
#optemo_embedder span {
    margin-left: 2px;
}
#optemo_embedder .productinfo {
    height: 120px;
}

/*--------------------------------------//
//        Show page and related         //
//--------------------------------------*/
#optemo_embedder div#silkscreen {
 	background-color: #666;
  
    filter:alpha(opacity=80);
      opacity: 0.8;  
  -moz-opacity:0.8;
/*   -khtml-opacity: 0.1;*/

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5000px;
	z-index: 3;
	display: none;
 
}
#optemo_embedder div#silkscreen {
   filter:alpha(opacity=80);
   opacity: 0.8;
}

#optemo_embedder div#filter_silkscreen {
   background-color: black;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
   display: none;
}

#optemo_embedder #outsidecontainer {
	position: absolute;
	top: 20px;
	left: 20px;
	height: auto;
	z-index: 1005;
	display: none;
	background: white;
	-moz-box-shadow: 0 -2px 16px 3px #888;
    -webkit-box-shadow: 0 -2px 16px 3px #888;
    box-shadow: 0 -2px 16px 3px #888;
   border: 3px #ccc solid;
}
#optemo_embedder #info h1 {
	font-size: 1.2em;
	margin: 0 0 4px;
}
#optemo_embedder div#info {
	font-size: 0.8em;
	padding: 12px 23px 22px 22px;
	min-width: 513px;
}
#optemo_embedder .mainprodimg {
	text-align: center;
}
#optemo_embedder .ie6 .mainprodimg {
    display: block !important;
}
#optemo_embedder #info_container {
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	width: 475px;
	padding: 10px 18px 0;
}

#optemo_embedder div#loading {
	top: 0;
	left: 344px;
	position: fixed;
	z-index: 1005;
	font-size: 9pt;
	display: none;
}

* html #optemo_embedder div#loading {
	position: absolute;
}
	
#optemo_embedder #loading img {
	vertical-align: text-bottom;
/*	margin-right: 4px;        */
}
#optemo_embedder div#filter_bar_loading{
    display: none;
    position:absolute;
    z-index: 3;
    background-color: #eee;
    border: solid black 3px;
    padding: 10px;
    width: 100px;
    top: 300px;
    left: 250px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    -border-radius: 5px;
    text-align:center;
}

/*#image {
	text-align: center;
	width: 390px;
}*/
#optemo_embedder #features {
	border-top: 1px dashed #999;
	padding-top: 6px;
	width: 475px;
}
#optemo_embedder #features div.buttons {
    height: 32px;
	width: 135px;
	margin: auto;
}
#optemo_embedder #features div.bbfeatures {
    height: 50px;
    line-height: 20px;
}
#optemo_embedder #features img {
    float: left;
    padding-right: 5px;
}
#optemo_embedder .shortdesc {
	border-top: 1px dashed #999;
	width: 475px;
	padding: 6px 0;
	margin-top: 6px;
}
#optemo_embedder .fill {
	background: url("http://bestbuy.ca/images/common/backgrounds/ratinglistfill.gif") no-repeat scroll right top transparent;
	height: 9px;
}

#optemo_embedder .empty {
	background: url("http://bestbuy.ca/images/common/backgrounds/ratingattribback.gif") no-repeat scroll left top transparent;
	float: left;
	height: 9px;
	margin-top: 3px;
	padding: 1px;
	width: 77px;
}
#optemo_embedder .review_feature span {
	float: left;
	padding-right: 5px;
	width: 90px;
	height: 28px;
}
#optemo_embedder .review_feature .nbr {
	margin-left: 4px;
	padding: 0;
	width: auto;
}
#optemo_embedder .review_feature {
	width: 216px;
}
#optemo_embedder .starrating {
	clear: both;
	padding: 6px 0 0;
}
#optemo_embedder .starrating img {
	vertical-align: bottom;
	margin-right: 1px;
}
#optemo_embedder .starrating span {
	margin-right: 6px;
}
#optemo_embedder .starrating .nbr {
	margin-left: 4px;
	font-weight: bold;
}
#optemo_embedder .ratingnumbers {
	color: #666;
	font-size: 11px;
	margin-top: 0;
}
#optemo_embedder .bbreview {
	border-top: 1px dashed #ccc;
	margin-top: 10px;
	padding: 6px;
}
#optemo_embedder .fb_edge_widget_with_comment {
	padding-top: 5px;
}
#optemo_embedder div#textfeatures, div#reviews {
	clear:both;
}

#optemo_embedder #features ul {
	list-style-type: none;
}

#optemo_embedder div .showtable{
	float: left;
	text-align: center;
	width: 400px;
	margin-right:10px;
	border: 1px dotted black;
}

#optemo_embedder .bb_poptitle a.bb_quickview_close {
	text-align: right;
	padding-top: 0;
	padding-right: 0;
	margin: 0;
    color: black;
    height: 0 \0/;
    width: 0 \0/;
    margin-top: -20px;
    margin-right: -57px;
}

#optemo_embedder #IE .bb_poptitle a.bb_quickview_close {
   margin-top: -21px;
   margin-right: -26px;
   *margin-top: 0;
   *margin-right: 0;
   }

#optemo_embedder #IE .bb_quickview_close img {
   *margin-top: -15px;
   *margin-right: -57px;
   _margin-right: -57px;
   position: relative;
   *display: block;
}
#optemo_embedder a.compare {
	float: right;
	border: none;
	margin:0;
	display:block;
}

#optemo_embedder .clear {
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
	padding:0;
	margin:0;
	letter-spacing:0;
}

#optemo_embedder a.tab {
	text-decoration: none;
	color: #3E3E3E;
	text-align: center;
	float: left;
	height:17px;
	border: 1px solid #ccc;
	background-image:-moz-linear-gradient(center bottom, white, #cdcdcd);
	background-image:-webkit-gradient(linear, left bottom, left top, from(white), to(#cdcdcd));
}
#optemo_embedder #IE a.tab {
	background: url(../images/gray_gradient.png) repeat;
}
#optemo_embedder .tab:hover {
	text-decoration: none;
}
#optemo_embedder #tab_selected {
	background-image:-moz-linear-gradient(center bottom, white, #FFEF00);
	background-image:-webkit-gradient(linear, left bottom, left top, from(white), to(#ffef00));
	border-bottom: 1px solid white;
	color: black;
	font-weight: bold;
}
#optemo_embedder #IE #tab_selected {
	background: url(../images/yellow_gradient.png) repeat;
}
#optemo_embedder .tabspacer {
	height: 30px;
	border-bottom : 1px solid #ccc;
	width: 4px;
	float: left;
}
#optemo_embedder .pricespacer {
	border-bottom: 1px dashed #999; 
	clear: both; 
	margin-bottom: 15px;
}

#optemo_embedder .left {
	float: left;
}
#optemo_embedder .right {
	float: right;
}

#optemo_embedder ul{
	list-style-type: none;
	padding-left: 1em;
	padding-bottom: 0.7em;
}

#optemo_embedder li{
	list-style-type: none;
	padding-left: 1em;
}

#optemo_embedder .facebook-like{
	min-height: 40px;
}
/*--------------------------------------//
//            Awesome Buttons           //
//--------------------------------------*/
/* Zurb http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba */
/*.awesome, .awesome:visited {
	background: #AAA;
	padding: 5px 10px 4px; 
	color: #F5F5F5; 
	text-decoration: none;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	cursor: pointer;
}

.awesome:hover							{ background-color: #676767; color: #e6e6e6; }
.small_awesome, .small_awesome:visited 			{ font-size: 11px; padding: ; }
.awesome, .awesome:visited,
.medium_awesome, .medium_awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large_awesome, .large_awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }
.xlarge_awesome, .xlarge_awesome:visited 			{ font-size: 16px; padding: 12px 21px 13px; }*/

/* Zurb http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba */
#optemo_embedder .awesome_reset, 
#optemo_embedder .awesome_reset:visited {
	background: #003b65; url(/images/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px; 
	color: #FFF; 
	text-decoration: none;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	-moz-box-shadow: inset 0 7px 8px #2680bf;
	-webkit-box-shadow: inset 0 7px 8px #2680bf; 
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
/*	border: 1px solid #c4c5c5; */
	position: relative;
	cursor: pointer;
}
#optemo_embedder .awesome_reset_grey, 
#optemo_embedder .awesome_reset_grey:visited {
    background-image:-moz-linear-gradient(center bottom, #9e9e9e, #ccc);
	background-image:-webkit-gradient(linear, left bottom, left top, from(#9e9e9e), to(#ccc));
   	display: inline-block; 
	color: #FFF; 
	text-decoration: none;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
/*	border: 1px solid #c4c5c5; */
	position: relative;
	cursor: pointer;
}

#optemo_embedder .awesome_reset:hover, #optemo_embedder .awesome_reset_grey:hover {text-decoration: none; }

.awesome_tour:hover							{ background-color: #111; color: #fff; }
.awesome_tour:active							{ top: 1px; }
.small_awesome_tour, .small_awesome_tour:visited 			{ font-size: 11px; padding: ; }
.awesome_tour, .awesome_tour:visited,
.medium_awesome_tour, .medium_awesome_tour:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }

#optemo_embedder .regular_reset, #optemo_embedder .regular_reset:visited {
    display: inline-block;
    padding: 0;
    color: #039;
    text-decoration: none;
}

#optemo_embedder .regular_reset:hover {
    text-decoration: underline;
}
#optemo_embedder .regular_reset span {
    margin-right: 4px;
    font-weight: normal;
    font-size: 12px;
}

#optemo_embedder .optemo_compare_checkbox {
  pading: 0;
  margin: 0;
  }

#optemo_embedder #IE .optemo_compare_checkbox {
    vertical-align: middle;
}
/* Global Button */
#optemo_embedder #IE .awesome_reset,#optemo_embedder #IE .awesome_reset:visited,  #optemo_embedder #IE .awesome_reset_grey, #optemo_embedder #IE .awesome_reset_grey:visited {
	border: none;
}

#optemo_embedder #IE #navigator_bar_bottom .global_btn {
    background:url(../images/compare_button_blue.gif) no-repeat top left;
}
#optemo_embedder #IE #navigator_bar_bottom .global_btn_grey {
    background:url(../images/global-button-grey.gif) no-repeat top left;
}
#optemo_embedder #IE #navigator_bar .global_btn_grey {
    Background: url(/images/ie_compare_grey_nav_top.gif) no-repeat top left;
}
#optemo_embedder #IE #navigator_bar .global_btn {
    Background: url(/images/ie_compare_blue_nav_top.gif) no-repeat top left;
}
#optemo_embedder #IE .global_btn {
    display: block;
    width: 121px;
    height: 34px;
    padding: 5px;
}

#optemo_embedder #IE .global_btn_grey span{
    margin: 5px auto;
}
#optemo_embedder #IE .global_btn span {
	display:inline-block;
	background:url(../images/global-button-right.gif) no-repeat right;
	padding:0 10px 0 4px;
	height:21px;
	line-height:21px;
	color:#ffffff;
	font-size:10px;
	cursor:pointer;
}
#optemo_embedder #IE .global_btn_grey span {
    background:url(../images/global-button-right.gif) no-repeat right;
}
#optemo_embedder #IE .global_btn:hover, #optemo_embedder #IE .global_btn_grey:hover {
	text-decoration:none;
}
#optemo_embedder #IE .global_btn:hover span, #optemo_embedder #IE .global_btn_grey:hover span {
    color:#FFF102;
} 

#optemo_embedder .narrow_text {
	display:inline-block;
    margin: 17px 11px 0 4px;
    padding: 0;

}
#optemo_embedder .narrow_text img{
    width: 150px;
    height: 39px;
}
#optemo_embedder .y_heading
{
    overflow:hidden;
    height: 75px;
   margin-bottom:0\0/; /* IE8 */
    background-image:-moz-linear-gradient(center bottom, #cecece, #e9e9e9);
    background-image:-webkit-gradient(linear, left bottom, left top, from(#cecece), to(#e9e9e9));
    padding: 0;
    text-align: right;
}
#optemo_embedder .y_heading a.regular_reset, #optemo_embedder .y_bottom a.regular_reset { 
    font-size: 11px;
    font-weight: bold;
    padding: 0;
    margin: 2px 0 0;
    *margin: -2px 0 0;
   
}

#optemo_embedder #IE .y_heading {
    Background: url("/images/ie_refine_search_bg.gif") repeat-x #cecece;
}

#optemo_embedder #IE .y_heading a.regular_reset{
    display: block;
}

/*
 * Galleria Classic Theme
 * Copyright (c) 2010, Aino
 * Licensed under the MIT license.
 * Modified by Zev Thompson of Optemo.
 */
 
#optemo_embedder .galleria-container {
    position: relative;
    overflow: hidden;
    background: #FFF;
}
#optemo_embedder .galleria-container img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
#optemo_embedder .galleria-stage {
    position: absolute;
    top: 10px;
    bottom: 60px;
    left: 10px;
    right: 10px;
    overflow:hidden;
}
#optemo_embedder .galleria-thumbnails-container {
    height: 50px;
    bottom: 0;
    position: absolute;
    left: 10px;
    right: 10px;
    z-index: 2;
}
#optemo_embedder .galleria-carousel .galleria-thumbnails-list {
    margin-left: 30px;
    margin-right: 30px;
}
#optemo_embedder .galleria-thumbnails .galleria-image {
    height: 40px;
    width: 60px;
    background: #000;
    margin: 0 5px 0 0;
    border: 1px solid #000;;
    float: left;
    cursor: pointer;
}

#optemo_embedder #bestbuy_sibling_images {
    height: 40px;
    float: right;
    position: relative;
}

#optemo_embedder .galleria-counter {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: right;
    color: #fff;
    font: normal 11px/1 arial,sans-serif;
    z-index: 2;
}
#optemo_embedder .galleria-loader {
    background: #000;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
    background: url(../images/classic-loader.gif) no-repeat 2px 2px;
}
#optemo_embedder .galleria-info {
    width: 50%;
    top: 15px;
    left: 15px;
    z-index: 2;
    position: absolute;
}
#optemo_embedder .galleria-info-text {
    background-color: #000;
    padding: 12px;
    display: none;
    /* IE7 */ zoom:1;
}
#optemo_embedder .galleria-info-title {
    font: bold 12px/1.1 arial,sans-serif;
    margin: 0;
    color: #fff;
}
#optemo_embedder .galleria-info-description {
    font: italic 12px/1.4 georgia,serif;
    margin: 0;
    color: #bbb;
}
#optemo_embedder .galleria-info-title+.galleria-info-description {
    margin-top: 7px;
}
#optemo_embedder .galleria-info-close {
    width: 9px;
    height: 9px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-position: -753px -11px;
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: pointer;
    display: none;
}
#optemo_embedder .galleria-info-close:hover{
    opacity:1;
    filter: alpha(opacity=100);
}
#optemo_embedder .galleria-info-link {
    background-position: -669px -5px;
    opacity: .7;
    filter: alpha(opacity=70);
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #000;
}
#optemo_embedder .galleria-info-link:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
#optemo_embedder .galleria-image-nav {
    position: absolute;
    top: 50%;
    margin-top: -62px;
    width: 100%;
    height: 62px;
    left: 0;
}
#optemo_embedder .galleria-image-nav-left,
#optemo_embedder .galleria-image-nav-right {
    opacity: .3;
    filter: alpha(opacity=30);
    cursor: pointer;
    width: 62px;
    height: 124px;
    position: absolute;
    left: 10px;
    z-index: 2;
    background-position: 0 46px;
}
#optemo_embedder .galleria-image-nav-right {
    left: auto;
    right: 10px;
    background-position: -254px 46px;
    z-index: 2;
}
#optemo_embedder .galleria-image-nav-left:hover,
#optemo_embedder .galleria-image-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
#optemo_embedder .galleria-thumb-nav-left,
#optemo_embedder .galleria-thumb-nav-right {
    cursor: pointer;
    display: none;
    background-position: -495px 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 23px;
    z-index: 3;
    opacity: .8;
    filter: alpha(opacity=80);
}
#optemo_embedder .galleria-thumb-nav-right {
    background-position: -578px 5px;
    border-right: none;
    right: 0;
    left: auto;
}
#optemo_embedder .galleria-thumbnails-container .disabled {
    opacity: .2;
    filter: alpha(opacity=20);
    cursor: default;
}
#optemo_embedder .galleria-thumb-nav-left:hover,
#optemo_embedder .galleria-thumb-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}
#optemo_embedder .galleria-thumbnails-container .disabled:hover {
    opacity: 0.2;
    filter: alpha(opacity=20);
    background-color: transparent;
}

#optemo_embedder .galleria-carousel .galleria-thumb-nav-left,
#optemo_embedder .galleria-carousel .galleria-thumb-nav-right {
    display: block;
}
#optemo_embedder .galleria-thumb-nav-left,
#optemo_embedder .galleria-thumb-nav-right,
#optemo_embedder .galleria-info-link,
#optemo_embedder .galleria-info-close,
#optemo_embedder .galleria-image-nav-left,
#optemo_embedder .galleria-image-nav-right {
    background-image: url(../images/classic-map.png);
    background-repeat: no-repeat;
}

/*--------------------------------------//
//            Color Picker              //
//--------------------------------------*/
#optemo_embedder .swatch {
	width: 13px;
	height: 13px;
	background-color: red;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 1px 3px rgba(50,50,50,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(50,50,50,0.5);
	/*border: 1px solid #ccc;*/
	float: left;
	margin: 0 2px 2px 0;
	cursor: pointer;
}
/*.swatch:hover {
	-moz-box-shadow: 0 1px 3px rgba(50,50,50,0.5), inset 0px 0px 10px white;
	-webkit-box-shadow: 0 1px 3px rgba(50,50,50,0.5), inset 0px 0px 10px white;
}*/
#optemo_embedder .selected_swatch {
	border: 1px solid black;
	width: 13px;
	height: 13px;
	margin: -1px 1px 1px -1px;
	-moz-border-radius: 0px; 
	-webkit-border-radius: 0px;
}

#optemo_embedder .ie7 .white_swatch,
#optemo_embedder .ie8 .white_swatch,
#optemo_embedder .ie9 .white_swatch {
	width: 11px;
	height: 11px;
	border: 1px solid #ccc;
}

#optemo_embedder .disabled {
	color: #aaa;
}

#optemo_embedder .y_bottom {
    margin: 12px 0 -12px;
    padding-right: 6px;
    padding-bottom: 3px;
	overflow:hidden;
   margin-bottom:-4px \0/;
   *margin-bottom: -4px;
   _margin-bottom: -12px;
    background-image:-moz-linear-gradient(center bottom, #d1d1d1, #e8e8e8);
    background-image:-webkit-gradient(linear, left bottom, left top, from(#d1d1d1), to(#e8e8e8));
    height: 25px
    font-weight: bold;
   
}

#optemo_embedder .y_bottom a.regular_reset{
    margin: 7px 0 0;
    height: 15px;
}
#optemo_embedder #IE .y_bottom {

/*   *position: absolute;
   
    *bottom: 7px;
    *height: 25px;*/
    background: url('/images/ie_y_bottom_bg.gif') repeat-x ;
    height: 25px;
}

#optemo_embedder .pagination-container{
    position: relative;
    background: #e7e7e7;
    text-align: center;
    padding-top: 10px;
    font-size: 12px;
    height: 23px;
    *height: 25px;
    border: 1px #cecece solid;
}

#optemo_embedder #back-to-top-bottom {
   margin-right: 14px;
   }
#optemo_embedder .pagination {
    text-align: center;
    padding: 0px 5px;
    display: inline;
   *background: #e7e7e7;
}
#optemo_embedder .pagination .current{
    font-style: normal;
    font-weight: bold;
}
#optemo_embedder .pagination a img{
   vertical-align: top;
   padding: 1px 0 0;
   }
#optemo_embedder #IE .pagination a img{
   vertical-align: sub; /* For ie9 */
   vertical-align: top \0/;
   *vertical-align: middle;
   margin-top: 1px \0/;/*IE8*/
   *margin-top: 0;
   }
#optemo_embedder .pagination-container a,#optemo_embedder .pagination-container a:hover,#optemo_embedder .pagination-container a:visited {
   color: #003399;
   }
#optemo_embedder .pagination a, #optemo_embedder .pagination strong {
   padding: 3px 1px;
   line-height: 12px;
   }
#optemo_embedder .pagination span.gap {
    display: none;
}
#optemo_embedder .pagination .disabled {
    display: none;
}


#optemo_embedder .pagi-info {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 0;
  margin-left: 14px;
}
#optemo_embedder #back-to-top-bottom, #optemo_embedder #back-to-top-bottom:visited {
    position: absolute;
    right: 0;
    top: 0;
    background: url('/images/back-to-top-small.gif') no-repeat right center;
    padding: 10px 20px 5px 5px;
}
