/* CSS declarations specific to grid view (Optemo Assist) go here. */

/* Table of Contents
 * -----------------
 *  Navigator Bar
 *  Main Content (Right Side)
 *  Drag And Drop Compare
 *  Sliders
 *  Footer
 */
 
 /*--------------------------------------//
 //            Navigator Bar             //
 //--------------------------------------*/
 
div#main {
	width: 560px;
	margin-left: 190px;
}

 #columnheader {
 	font-size: 0.8em;
 	padding-top: 4px;
 	height: 27px;
 }

/*--------------------------------------//
//      Main Content (Right Side)       //
//--------------------------------------*/

.navigator_box {
	text-align: center;
	font-size: 0.85em;
	float: left;
	position: relative;
	margin-right: 4px; 
	margin-bottom: 3px;
	height:233px;
	width: 182px; /*+2 for the border*/
	/*background: url(../images/nbsingle-180.png) no-repeat;*/
}

.title {
	text-align: left;
	margin: 0 8px;
	padding-bottom: 4px;
	border-bottom:1px solid #CCCCCC;
	height: 28px;
	font-weight: bold;
	position:relative;
}
.image_boundingbox {
	margin-top: 1px;
	margin-left: auto;
	margin-right:auto;
	position:relative;
	text-align:center;
	height:140px;
	width: 140px;
}

img.productimg {
	cursor: move;
	width: 100%;
}
.productinfo {
}
.productspecs {
	font-size:0.8em;
}

.topbar {
    height: 159px;
    display: inline;
}
.bottombar {
}
.sim {
	height: 35px;
	margin-left:10px;
	margin: 6px 3px;
}

.sim a {
	text-decoration: underline;
}

.sim a img {
	vertical-align: middle;
	padding-right: 5px;
}

/*--------------------------------------//
//         Drag And Drop Compare        //
//--------------------------------------*/

.dragHand {
	position: absolute;
	left: 0;
	top: 5px;
	z-index:1;
    opacity:0.35;
}

/*--------------------------------------//
//                Sliders               //
//--------------------------------------*/

/* Removing titles */
.title {
	display:none;
}

/*--------------------------------------//
//                Footer                //
//--------------------------------------*/

#bottomlinks {
	top: 835px;
}
