/* CSS declarations specific to grid view (Optemo Assist) go here. */

/* Table of Contents
 * -----------------
 *  Navigator Bar
 *  Main Content (Right Side)
 *  Drag And Drop Compare
 *  Filters
 *  Footer
 */
 
 /*--------------------------------------//
 //            Navigator Bar             //
 //--------------------------------------*/
 
div#main {
	width: 560px;
	float: right;
}

.left-right-wrapper {
	clear: both;
	overflow: hidden;
}

 #columnheader {
 	font-size: 0.8em;
 	padding-top: 4px;
 	height: 27px;
 }

/*--------------------------------------//
//      Main Content (Right Side)       //
//--------------------------------------*/

.navigator_box {
	text-align: center;
	font-size: 0.85em;
	float: left;
	position: relative;
	margin-right: 4px; 
	margin-bottom: 3px;
	height:260px;
	width: 181px; /*+2 for the border*/
	/*background: url(../images/nbsingle-180.png) no-repeat;*/
}

.title {
	text-align: left;
	margin: 0 8px;
	padding-bottom: 4px;
	border-bottom:1px solid #CCCCCC;
	height: 28px;
	font-weight: bold;
	position:relative;
}
.image_boundingbox {
	margin: 1px auto;
	position:relative;
	text-align:center;
	height:150px;
	width: 150px;
}

img.productimg {
	cursor: move;
	width: 100%;
}
.productinfo {
}
.productspecs {
	font-size:0.8em;
}
.clusterspecs {
	/*background: -moz-linear-gradient(left,  #f00,  #ff0,#0f0);*/
	background: url(../images/gradient.png) no-repeat;
	width: 75px;
	height: 9px;
}
.clusterspecs div {
	background: white;
	height: 100%;
}
.clustertext {
	font-size: 0.7em;
}
.clusterspecs .leftbox{
	float: left;
}
.clusterspecs .rightbox {
	float: right;
}
.clusterspecs .referencebar {
	width: 75px;
	height: 4px;
	border-bottom: 1px solid black;
	position: absolute;
	background: none;
}

.topbar {
	width: 181px;
	height: 218px;
}
.bottombar {
	clear: left;
	margin-top: 3px;
	padding: 0 4px;
	border: 1px solid #ccc;
}
#extended_box .topbar {
	float: left;
}
#extended_box p {
	margin:15px 0 10px 0;
}
.filterchange {
	text-align: center;
	padding-right: 4px;
}
.filterchange ul {
	padding-left: 20px;
}
.sim {
	height: 35px;
	margin-left:10px;
	margin: 6px 3px;
}

.sim a {
	text-decoration: underline;
}

.sim a img {
	vertical-align: middle;
	padding-right: 5px;
}

#extended_box {
	width: auto;
	border: 3px solid #D99741;
	margin-right:0;
}
#extended_box h2 {
	background-color: #D99741;
}

/*--------------------------------------//
//         Drag And Drop Compare        //
//--------------------------------------*/

.dragHand {
	position: absolute;
	left: 0;
	top: 5px;
	z-index:1;
    opacity:0.35;
}

/*--------------------------------------//
//                Sliders               //
//--------------------------------------*/

/* Removing titles */
.title {
	display:none;
}
#sorting_method {
	width: 104px;
}
#sortby {
}
/*--------------------------------------//
//                Footer                //
//--------------------------------------*/

#bottomlinks {
	top: 835px;
}
