/*--------------------------------------//
//         Global Declarations          //
//--------------------------------------*/
a img {	border: none; }
a { color: #0000EE; }
a:visited { color: #0000AB;}
/* Delete button */
.deleteX {
	position: absolute;
	right: -7px;
	top: -5px;
	z-index: 1;
}
.lv .easylink {
    font-size: 0.9em;
}
/*--------------------------------------//
//            Navigator Bar             //
//--------------------------------------*/
div#main {
	padding: 0;
	width: 727px;
	margin-left: 218px;
	text-align: left;
}

.sv #main {
	width: 586px;	
}
#navigator_bar {
	/*height: 22px;*/
	text-align: center;
	margin-bottom: 5px;
}
.rounded_nav {
    background-color: #e1e1e1;
	border: 1px solid #d0d0d0;
}

#navigator_bar .smalllink{
	font-size: 0.75em;
	margin-left: 3px;
}

#columnheader {
	font-size: 0.8em;
	padding-top: 4px;
	height: 27px;
}
.lv.sv #columnheader {
  height: 20px;
}
/* This decision tree supports list view vs. simple layout, and simple layout's "group by" view. Tested in IE */
.lv #firstcolumn {
	width: 62px;
	float: left;
}
.sv_ungrouped #firstcolumn {
	height: 20px;
}
.lv.sv #firstcolumn {
	padding-left: 5px;
	width:100px;
}
.lv #secondcolumn {
	width: 118px;
	float: left;
	padding-top:5px;
	margin-left:18px;
}
.lv.sv #secondcolumn {
  padding-top:0;
}
.sv_ungrouped #secondcolumn {
	height:20px;
}
.lv #thirdcolumn {
	width: 430px;
	height: 20px;
	padding-top: 5px;
}
.lv.sv #thirdcolumn {
	width: 278px;
	float: left;
	padding-top: 0;
	text-align: right;
}
.sv_ungrouped.lv.sv #thirdcolumn {
  float: right;
	width: 100px;	
	padding-right:55px;
}

/*--------------------------------------//
//      Main Content (Right Side)       //
//--------------------------------------*/

div.rowdiv {
/*	height: 224px; 
	margin-bottom: 7px; */
	margin-left: 5px;
	margin-top:5px;
}
.gv .navigator_box {
	text-align: center;
	font-size: 0.85em;
	float: left;
	position: relative;
	height: 100%;
	margin-right: 7px; 
	margin-bottom: 3px;
	height:231px;
}
.lv .navigator_box {
  	margin:4px auto;
  	width:715px;  
	height:100px;
	text-align: left;
	background-color: white;
	border: 1px solid #e1e1e1;
  	-moz-border-radius: 8px;       /* for Firefox */
	-webkit-border-radius: 8px;    /* for Safari */
  	border-radius: 8px;            /* Opera, KHTML, others */
}
.sv_ungrouped {
	width: 617px;
}
.sv_ungrouped .navigator_box {
	height: 72px;
	width: 576px;
}
.gv .nbgroup {
	padding: 3px 9px 3px 3px;
	background: url(../images/nb-group.png) no-repeat;
	width:224px;
}
.gv .nbsingle {
	padding: 3px 9px 3px 3px;
	background: url(../images/nb-single.png) no-repeat;
	width:224px;
}
.greybg {
    background:none repeat scroll 0 0 #EFEFEF;
}
.topbar {
	height: 180px;
}

.gv .title {
	text-align: left;
	margin: 0 8px;
	padding-bottom: 4px;
	border-bottom:1px solid #CCCCCC;
	height: 28px;
	font-weight: bold;
	position:relative;
}
.lv .title {
    float: left;  
	height: 90px;
	width: 140px;
	padding: 5px;
	text-align: center;
}
.sv .title {
	width: 115px;
	position: relative;
}

.fv {
	float: left;
	width: 150px;
	margin-left: 15px;
}

/* Navigator box */
.product_box {
	position: relative;
	width:160px;
	height: 153px;
	margin: auto;
	margin-bottom:2px;
}
.gv .image_boundingbox {
	width: 140px;
	margin-left: auto;
	margin-right:auto;
	position:relative;
	text-align:center;
}
.lv .image_boundingbox {
    float:left;
    padding-right:10px;
}
.gv img.productimg {
	cursor: move;
	height:100px;
}
.lv img.productimg {
	cursor: move;
	float: left;
	height: 100px;
	margin-top: -5px;
}
.lv.sv img.productimg {
	cursor: move;
	float: left;
	height: 80px;
	width: 80px;
	margin-top: 5px;
}

.sv .nbsingle img.productimg {
	height: 64px;
	width: 64px;
	margin-top: -1px;
	margin-left: 20px;
	z-index: 1;
	position: relative;
}

.lv .productimg {
    width: 110px;
}

.sv.lv .productimg_container {
    width: 104px;
    height: 2px;
}

.sv .productimg {
  float: left;
}

.productinfocont {
	width: 224px;
	position: absolute;
	bottom: 51px;
	left: 0;
}
.gv .productinfo {
	margin:0 auto;
}
.lv .productinfo {
	padding-top: 5px;
	margin:0 auto;
	float: left;
	width: 500px;
	height: 100px;
}
.sv .nbgroup .productinfo {
	width: 285px;
	font-size: 0.8em;
	margin-left: 10px;
}
.sv .nbsingle .productinfo {
	width: 576px;
	height: 72px;
}
.price {
	color: #F5000B;
	font-size: 1em;
	margin-top: 5px;
}
.sv .nbgroup .price {
  display: inline;
/*  font-size: 0.8em; */
  margin-top: 0;
}
.sv .nbsingle .price {
/*  margin: 0 10px 0 10px; */
  position: relative;
  top: 10px;
}
.bottombar {
	height: 18px;
}
.gv .sim {
	height: 35px;
	text-align: left;
	margin-left:10px;
	margin: 6px 3px;
}
.lv .sim {   
  float:left;
  text-align:center;
  width:50px;
	height: 100px;
	border: 1px solid #ccc;
  -moz-border-radius: 8px 0 0 8px;       /* for Firefox */
	-webkit-border-top-left-radius: 8px;    /* for Safari */
	-webkit-border-bottom-left-radius: 8px;    /* for Safari */
  border-radius: 8px 0 0 8px;            /* Opera, KHTML, others */
	margin: -1px 0 0 -1px;
}
.lv .nbsingle .sim {
	background-color: #BAC5D4;
}
.lv .nbgroup .sim {
	background-color: #8192ac;
}

.sv .group_title {
  font-weight: bold;
  padding-top: 5px;
/*  padding-bottom: 2px;
  -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
  border-radius: 8px;
  display: table;
  height: 44px; */
  width: 115px;
}

.sv .choose_group, .sv .choose_cont_range {
	font-size: 0.9em;
	position: absolute;
	bottom: 10px;
	left: 9px;
	margin-left:5px;
	width:90px;
	-moz-border-radius: 8px;       /* for Firefox */
	-webkit-border-radius: 8px;    /* for Safari */
  border-radius: 8px;            /* Opera, KHTML, others */
  cursor: pointer;
  text-decoration: underline;
}

.gv .sim a {
	font-size: 1.1em;
	padding: 4px;
	color: black;
}
.lv .sim a {
	color: black;
}
.lv .sim a:hover {
	text-decoration: none;
}
.gv .sim a img {
	vertical-align: middle;
	padding-right: 5px;
}
.lv .sim a img {
	margin-top: 18px;
}

.sv .itemfeatures {
    margin-top: 0;
}

.lv.sv .nbgroup .itemfeatures {
    margin-left:95px;
    width:200px;
}

.groupby_title {
    margin-left:95px;
    width:200px;    
}

.itemfeatures {
/*	font-size: 0.8em; */
  font-size: 12px;
/* 	display: inline; /* Fix for IE */
/*  float: left; */
/*	width: 160px; */
	margin-top: 5px;
}

.itemtitle {
    font-size: 1.4em;
    padding-bottom:5px;
}

.priceunit {
  font-size: 0.8em;
/*  display:inline; */
  position:relative;
  margin-left: 5px;
  top: 10px;
}

.nbsingle .itemfeatures {
	width: 390px;
	float:left
}

/*--------------------------------------//
//    Main Nav Controls (Left Side)     //
//--------------------------------------*/

div #leftbar {
	padding: 0;
	margin: 0;
	width: 213px;
	float: left;
	position: relative;
}
.leftboxes {
	margin: 0 0 5px 4px;
	padding: 6px;
}
.rounded_leftboxes {
	border: 1px solid #ccc;        
}

#search {
	width: 125px;
}
#submit_button {
	margin-top: 2px;
	width: 55px;
}

#savebar {
/* 	background-image:url(../images/bullseye.png);
	background-position:bottom; */
	background-repeat: no-repeat;
/*	min-height:100px; */
}

#ajaxfilter {
	display:inline;
}

/*--------------------------------------//
//         Drag And Drop Compare        //
//--------------------------------------*/
div.ui-state-dragging { 
	border:1px dashed #c96; 
	background: #ebe9de;
}
div.drop-box-hover { 
	background: #dbd9ce; 
	color: #363636; 
}
.left_behind_box_ghost { 
	opacity:0.4;
}

[if IE] .left_behind_box_ghost { 
	filter:alpha(opacity=40);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);  /* IE7 */    
}

/* These might be useful in future - helps with drag and drop obviousness
.productimgblackborder {
 	border: 1px gray dashed; 
}
.productimgwhiteborder {
 	border: 1px #e7e7e7 dashed; 
} */
.gv .dragHand {
	position: absolute;
	left: 0;
	top: 0;
	z-index:1;
    opacity:0.35;
}
.lv .dragHand {
	margin-left: -25px;
	margin-right: 25px;
	z-index:2;
    opacity:0.35;
    position:absolute;
}
.sv .productimg .dragHand {
	margin-right: 5px;
}

[ if IE ] .dragHand {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);  /* IE7 */
  filter: alpha(opacity=35);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)"; /* IE8 */  
}

.saveditem {
	position: relative;
	width: 77px;
	height: 80px;
	float: left;
	text-align: center;
	padding: 5px 1px 1px 5px;
	margin: 5px 0 0 8px;
	background: url(../images/savebg.png) no-repeat;
}
div.smalldesc {
	font-size: 0.7em;
	padding: 3px 0;
	width:75px;
}
.savedmsg {
	color: #F5000B;
	margin-bottom: 4px;
	margin-left: 6px;
	font-size:0.9em;
	display: none;
}
.savesome {
	font-size: 0.9em;
	width:180px;
	padding:7px;
}
#compare_button {
	clear: both; 
	padding-left: 120px; 
	padding-top: 5px;
}
.selected_cat_features img {
	vertical-align: baseline;
}

/* IE hack for save bar maybe? */
.gainlayout div {
	zoom: 1;
}

/*--------------------------------------//
//                Silders               //
//--------------------------------------*/

.ui-slider { 
	position: relative; 
	text-align: left; 
}
.ui-slider .ui-slider-handle:hover { 
	color: black; 
	text-decoration: none;
}
.ui-slider .ui-slider-handle { 
	background:url(../../../images/diamond.gif) no-repeat;
	font-size: 0.6em;
	color: black;
	height:13px; width:16px;text-decoration:none;outline:none;position:absolute;z-index:2;
}
.ui-slider .ui-slider-range { 
	position: absolute; 
	z-index: 1; 
	font-size: .7em; 
	display: block; 
	border: 0; 
}
/*.ui-slider-horizontal { background:url(../../../images/slider.gif) no-repeat; height: 13px; }*/
.ui-slider-horizontal .ui-slider-handle { 
	top: -3px; 
	margin-left: -8px; 
}
.ui-slider-horizontal .ui-slider-range { 
	top: 0; 
	height: 65%; 
	/* transparency for Firefox, Safari & Opera */ 
	opacity:0.3; 
	/*and now for IE (other browsers will ignore this):*/
	filter: alpha(opacity=30);
}
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-slider-vertical .ui-slider-handle { 
	background:url(../../../images/diamond_vertical.gif) no-repeat; 
	height:13px; 
	width:9px; 
	overflow:hidden;
	position:absolute;
	z-index:2;
}
.slider {
	margin: 0 0 0 7px;
	width: 178px;
	padding-bottom: 6px;
	position: relative;
}
.centerofslider {
	background:url(../../../images/slider.gif) no-repeat;
	height:13px; 
	overflow:hidden;
}
/* Filter Box */
.filtersdesc {
	font-size: 0.8em;
	margin-bottom: 3px;
	font-weight: lighter;
}
.selectboxfilter {
	width:100%;
}

.sv .selectboxfilter {
	width:115px;
}

.groupby {
	font-size: 0.65em;
	font-weight: bold;
	position: absolute;
	right: 0;
	cursor: pointer;
	text-decoration: underline;
}

.contgroupby {
    font-size: 0.8em;
    text-decoration: underline;
    cursor: pointer;
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
}

.label {
	font-weight: bold;
	text-align: left;
	font-size: 0.8em;
	width: 197px;
	margin-top: 0.6em;
	position: relative;
}

/* The category labels need to be less than 134 for IE, and the slider labels have to be greater for Safari. */
.catlabel {
	font-weight: bold;
	text-align: left;
	font-size: 0.8em;
	width: 110px;
	margin-top: 0.6em;
	position: relative;
}
.space {
	margin-bottom: 20px; /*Spacing for histogram*/
}
.reset {
	font-size: 0.8em;
	text-decoration: underline;
}
.valbelow {
	padding-top: 18px;
}
.valabove {
	margin-top: -34px;
	height: 33px !important;
	background-position: 0 100% !important;
}
.unitdisp {      /* Display units of features in filters */
	font-size: 0.8em;
	font-weight: normal;
}
.feature {
	position: relative;
  clear: both;
  padding-bottom:2px;
}

.desc {
	display: none;
	position: absolute;
	bottom: 1.5em;
	left: 0;
	padding: 4px;
	border: solid thin black;
	background-color: #fff;
	z-index: 10;
}
.hist {
	position: absolute;
	text-align: left;
	left: 7px;
	top: 16px;
}


/*--------------------------------------//
//                Survey                //
//--------------------------------------*/

.decisionoverlay {
	padding: 35px 0 0 0;
	font-size: 0.8em;
	text-align: justify;
}
.leftbutton {
	float:left; 
	padding-left:140px;
}
.rightbutton {
	float: left; 
	padding-left:80px;
}
.surveyquestions {
	width: 560px;
	font-size: 0.9em;
	text-align: justify;
}
.surveyimage {
	text-align: center; 
}
#feedback {
	position:fixed; 
	right: 0; 
	top: 250px;
	z-index:2;
	cursor: pointer;
}

/*--------------------------------------//
//                Footer                //
//--------------------------------------*/

#bottomlinks {
	margin: 3px;
	text-align: center;
	font-size: 0.8em;
}

/* Content related stuff */
.listing {
	margin: 0;
}
.content {
	margin: 0 20px;
}
.content h2 {
	margin-top: 20px;
}

/*--------------------------------------//
//              Tour popup              //
//--------------------------------------*/

.popupTour{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:150px;
width:300px;
background:#FFFFFF;
border:3px solid #444444;
z-index:100000;
padding:12px;
font-size:13px;
}
.popupTour h1{
text-align:left;
color:#5f8ed9;
font-size:22px;
font-weight:700;
/* border-top:1px dotted #D3D3D3; */
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:15px;
margin-top:0;
}
.popupnextbutton {
	font-size:1.3em;
}

.popupcloseinstructions {
	font-size:0.7em;
}

.popupTour hr {
	border-color:#BBB;
	border-style: solid none;
	border-width: 1px 0;
	height: 2px;
}

.popupTourClose {
    font-size:14px;
    line-height:14px;
    right:6px;
    top:4px;
    position:absolute;
    color:#6fa5fd;
    font-weight:700;
    display:block;
}

.tourDrawAttention
{
	border: 2px solid red;
	background: #fffcd3;
	margin:auto;
}
.lv .tourDrawAttention /* this is for CSS precedence */
{
	border: 2px solid red;
	background: #fffcd3;
}

.navigator_box .tourDrawAttention
{
	border: 2px solid red;
	background: #fffcd3;
}

#tourButton{
	font-size: 0.8em;
	text-align: center;
	margin-top: 20px;
	text-decoration: underline;
}

/*--------------------------------------//
//             Autocomplete             //
//--------------------------------------*/

.ac_results {
	padding: 0;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

