/* CSS Document */

div#fade {
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0.5;
	display: none;
	margin-left: -6px;
	margin-top: 11px;
}
div#info {
	background: white;
	position: absolute;
	top: 180px;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	height: 600px;
	z-index: 3;
	display: none;
}

.navigator_box p {
	margin: 0px 0px 5px;
	padding: 0;
	line-height:1.2em;
}

div#header_options, div#footer_options {
    background-color: #c8c8ff;
	padding: 0;
	margin: 0;
}
a.link {
	margin-left: 10px;
	margin-right: 10px;
}
div.tablediv {
	display: table;
	padding: 0;
	margin: 4px auto 2px auto;
}
div.rowdiv {
	display:table-row;
}
div.navigator_box {
	text-align: center;
	font-size: small;
	display: table-cell;
	width:245px;
	height:225px;
	padding: 0px 1px 0px 1px;
	background: url(../images/navigatorbox_u.png) no-repeat;
	_background-image:url(../images/mainbg.gif);
}
div.navigator_box:hover {
	background: url(../images/navigatorbox_s.png) no-repeat;
}
div.borderbox {
	position: relative;
	top: 5px;
	left: 5px;
	height: 210px;
	width: 232px;
}
.save {
	width: 45px;
	position: absolute;
	left: 0;
	top: 0;
}
.sim {
	width: 45px;
	position: absolute;
	right: 0;
	top: 0;
}
.save a {
	background-color: orange;
	text-decoration: none;
	color: black;
}
.sim a {
	background-color: yellow;
	text-decoration: none;
	color: black;
}

a img {
	border: none;
}

