.cell{
	float: left;
}

#graco, #sames, #iwata, #dopag {
width: 570px;
border: solid 2px #7e7e7e;
padding:0;
display:table;
background-color: #d2d2d2;
}
#graco h2 {
margin:0;
background-color: #fff;
background-image: url(Graco.gif);
background-repeat: no-repeat;
width: 200px;
height: 150px;
text-indent:-999em;
float:left;
}
#graco ul, #sames ul, #iwata ul, #dopag ul {
width: 350px;
margin: 0;
padding: 8px 0;
display:table-cell;
vertical-align: middle;
}
#graco li, #sames li, #iwata li, #dopag li {
margin-left: 40px;
}
.clear{clear:both;display:none;}