.column {
	float: left;
}
#comparisonmatrix {
	position: relative;
	width:100%;
}
.cell {
	border-right: gray 1px dashed;
	width: 160px;
	height: 23px;
	font-size: 0.9em;
	padding: 7px 0px 0px 20px;
}
.longcolumn .cell {
	border-right: none;
	width: 400px;
}
.thumbnailcell {
	padding-top: 15px;
	border-right: gray 1px dashed;
	width: 180px;
	height: 180px;
}
.columntitle {
	background: url(../images/columntitlebg.gif);
	width: 179px;
	height: 23px;
	font-size: 0.9em;
	padding-top: 7px;
	border-right: solid 1px #ccc;
	z-index: 4;
	position: relative;
}
.longcolumn .columntitle {
	width: 420px;
}
.bgrow {
	height: 30px;
	background: url(../images/columntitlebg.gif) repeat;
	width: 750px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
	border-right: solid 1px #ccc;
}
.outertitle {
	width: 179px;
	border-right: solid 2px white;
	z-index: 4;
	position: relative;
}
.longcolumn .outertitle {
	width: 419px;
}
.graybg {
	background: #DADADA;
}
.whitebg {
	background: white;
}
.leftmostcolumn {
	width: 130px;
	padding-left: 0px;
}
.leftcolumntext {
	font-weight: bold;
	padding-right: 10px;
	text-align: right;
}
.leftmostoutertitle {
	width: 129px;
}
.leftmostcolumntitle {
	width: 128px;
	border-left: solid 1px #ccc;
}
.tabletitle {
	font-size:0.85em;
	font-weight: normal;
}
.remove {
	font-size: 0.8em;
	padding-left: 10px;
}
.first {
	height: 100px;
	text-align: center;
}
.thumbnaillabel {
	text-align:center;
	padding-top: 25px;
	color:#0A2088;
}
.thumbnaildetails {
	color: #F5000B;
}
.shopcell {
	position: relative;
	top: 10px;
	left: 0px;
}
.lowlightfeature {
	color: #777;
}
.regularfeature {
	color: #000;
}