/* CSS declarations specific to list view (Optemo Direct) go here */

/* Table of Contents
 * -----------------
 *  Navigator Bar
 *  Main Content (Right Side)
 *  Drag And Drop Compare
 *  Sliders
 *  Tour popup
 */

/*--------------------------------------//
//            Navigator Bar             //
//--------------------------------------*/

#columnheader {
    font-size: 0.8em;
    padding-top: 4px;
    height: 20px;
}

#firstcolumn {
	padding-left: 5px;
	width:140px;
	float: left;
}
.listview_ungrouped #firstcolumn {
	height: 20px;
}
#secondcolumn {
	width: 150px;
	float: left;
    padding-top:0;
	margin-left:1px;
}
.listview_ungrouped #secondcolumn {
	height:20px;
}
#thirdcolumn {
	width:  278px;
	height: 20px;
	float: left;
	padding-top: 0;
	text-align: right;
}
.listview_ungrouped #thirdcolumn {
    float: right;
    width: 100px;	
    padding-right:90px;
}

/*--------------------------------------//
//      Main Content (Right Side)       //
//--------------------------------------*/

.navigator_box {
  	margin:4px auto;
  	width:715px;  
	height:100px;
	text-align: left;
	background-color: white;
	border: 1px solid #e1e1e1;
  	-moz-border-radius: 8px;       /* for Firefox */
	-webkit-border-radius: 8px;    /* for Safari */
  	border-radius: 8px;            /* Opera, KHTML, others */
}
.listview_ungrouped {
	width: 727px;
}
.listview_ungrouped .navigator_box {
	height: 72px;
	width: 680px;
}
.title {
    float: left;  
	height: 90px;
	width: 115px;
	padding: 5px;
	text-align: center;
	position: relative;
}

.image_boundingbox {
    float:left;
    padding-right:10px;
}
img.productimg {
	cursor: move;
	float: left;
}

.nbsingle img.productimg {
	height: 50px;
	width: 75px;
	margin-top: -1px;
	margin-left: 20px;
	z-index: 1;
	position: relative;
}
.nbgroup img.productimg {
    width: 80px;
    height: 80px;
}

.productimg_container {
    width: 104px;
    height: 2px;
}

.productinfo {
	padding-top: 5px;
	margin:0 auto;
	float: left;
	width: 657px;
	height: 72px;
}
.nbgroup .productinfo {
	width: 285px;
	font-size: 0.8em;
	margin-left: 10px;
}
.nbgroup .price {
  display: inline;
  margin-top: 0;
}
.nbsingle .price {
  position: relative;
  top: 10px;
}
.topbar {
	height: 159px;
}
.bottombar {
	height: 18px;
}
.sim {   
    float:left;
    text-align:center;
    width:50px;
    height: 100px;
    border: 1px solid #ccc;
    -moz-border-radius: 8px 0 0 8px;       /* for Firefox */
    -webkit-border-top-left-radius: 8px;    /* for Safari */
    -webkit-border-bottom-left-radius: 8px;    /* for Safari */
    border-radius: 8px 0 0 8px;            /* Opera, KHTML, others */
    margin: -1px 0 0 -1px;
}
.nbsingle .sim {
	background-color: #BAC5D4;
}
.nbgroup .sim {
	background-color: #8192ac;
}

.choose_cont_range {
	/*margin-top: 4px;*/
	position: absolute;
	bottom: 7px;
	left: 24px;
}
.choose_group {
	position: absolute;
	bottom: 12px;
	left: 10px;
}

.group_title {
  width: 115px;
}

.sim a {
	color: black;
}
.sim a:hover {
	text-decoration: none;
}
.sim a img {
	margin-top: 18px;
}

.itemfeatures {
    font-size: 12px;
    margin-top: 0;
    margin-left: 15px;
}

.nbgroup .itemfeatures {
    margin-left:95px;
    width:200px;
}

/*--------------------------------------//
//         Drag And Drop Compare        //
//--------------------------------------*/

.dragHand {
	margin-left: -25px;
	margin-right: 25px;
	z-index:2;
    opacity:0.35;
    position:absolute;
}

/*--------------------------------------//
//                Sliders               //
//--------------------------------------*/

.groupby {
    font-size: 0.8em;
    text-decoration: underline;
    cursor: pointer;
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
}

.selectboxfilter {
	width:100%;
}

/*--------------------------------------//
//              Tour popup              //
//--------------------------------------*/

div.tourDrawAttention /* this is for CSS precedence */
{
	border: 2px solid red;
	background: #fffcd3;
}
