/* CSS declarations specific to mobile view (Optemo Mobile) go here. */

body {
    padding: 5px 2px 2px;
}

.watermark {
	right: 2px;	
}

.simlinks {
	vertical-align:middle;
}

.logo_container {
    margin: 0 auto 5px;
    width: 310px;
    display: block;
    position: relative;
}

#navigator_bar {
	text-align: left;
	height: 31px;
	width:310px;
	margin-left: auto;
	margin-right: auto;
}

#navtitle {
	font-size: 1.2em;
	padding: 4px 0px 0px 5px;
	color: white;
}

#filter_bar {
	float: right;
	position: relative;
	color: white;
	padding: 5px 22px 4px;
}
#startover {
	float: left;
	color: white;
	padding: 1px 4px;
	margin-right: 8px;
	font-size: 0.65em;
	height: 26px;
}
#filtercheck {
	position: absolute;
	left: 0px;
	top: 3px;
}
.rounded_nav {
   background-color: #93a5ba;
	border: 1px solid #d0d0d0;
}

.rounded_list {
	background-color: #FFFFFF;
	border: 1px solid #d0d0d0;
}
.rounded_internal_list {
	border-top: 1px solid #d0d0d0;
}

/*--------------------------------------//
//      Main Content (Right Side)       //
//--------------------------------------*/

.bordered-product {
	/*border-top:1px solid #D0D0D0;*/
}
.navigator_box {
	margin: 10px auto;
	background-color: white;
	clear: both;
	width: 300px;
	padding-left: 2px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.nbsingle {
	margin-left: 52px;
	width: 258px;
}

.navbody {
	position: relative;
}

.sim {
	width: 50px;
	height: 80px;
	font-size:1.4em;
	float: left;
	margin-left: -8px;
	background-color: #93a5ba;
	-moz-border-radius: 8px 0px 0px 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	/*border: 1px solid #ddd;*/
}
.simparent {
	width: 50px;
	height: 32px;
	font-size:1.4em;
	float: left;
	margin-left: -8px;
	background-color: #93a5ba;
	-moz-border-radius: 8px 0px 0px 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	/*border: 1px solid #ddd;*/
}
.simparent img {
	margin: 10px 8px;
}
.sim img {
	margin: -1px 7px;
}
.simtext {
	padding:2px;
	font-size: 0.95em;
	height: 1em;
	width: 250px;
	overflow: hidden;
}

.productinfo {
	float: left;
	margin-left: 2px;
	margin-bottom:2px;
	padding: 3px;
	border: 1px solid gray;
	width: 245px;
	height: 50px; 
}
.title {
	border-bottom:1px black dotted;
	display:inline;
	padding:2px;
	padding-bottom:0;
}
.image_boundingbox {
	width: 70px;
	height: 50px;
	overflow:hidden;
}
.greybg {
	background: #EFEFEF;
}
.productimg {
	float: left;
	padding-right:3px;
	width: 50px;
/*	height: 75%;
	width: 75%; */
}
.easylink {
	font-size: 0.8em;
}
.number_in_group  {
	background: url(../images/redbubble.png) no-repeat;
	font-size: 0.65em;
	color: white;
	width: 24px;
	height: 26px;
	padding: 2px 0 0;
	margin: -3px;
	text-align: center;
}
.largegroup {
	background: url(../images/redbubbleL.png) no-repeat;
	width: 36px;
}
.minus {
	margin: 9px !important;
}

/*--------------------------------------//
//    Main Nav Controls (Left Side)     //
//--------------------------------------*/

.leftboxes {
	padding: 6px;
	margin-bottom:2px;
}
.rounded_leftboxes {
	border: 1px solid #ccc;
	background: white;
}

#search {
	width: 129px;
	float: left;
}
#submit_button {
	margin-top: 2px;
	width:70px;
	height:25px;
}
.selected_options {
	clear:both;
	margin-left: 15px;
}

/*------------------------//
//      Filter Page       //
//------------------------*/

#selector {
	/* width:100%; */
}

#filter_form {
	padding-bottom:30px;
}
#previous_search_word {
	float:left;
	margin:2px;
}
#removeSearch {
	margin:2px;
}

.label {
	font-weight: bold;
	text-align: left;
	font-size: 0.8em;
	margin-top: 0.6em;
	float: left;
	width: 150px;
}
.feature_selectors, .selectboxfilter {
 	float:right;
 	width:135px;
}

.selected_cat_features {
  display:inline;
}

.featurerangeselect {
	width: 58px;
}

.reset {
	font-size: 0.8em;
	margin-right: 20px;
}
.valbelow {
	padding-top: 18px;
}
.valabove {
	margin-top: -34px;
	height: 33px !important;
	background-position: 0 100% !important;
}
.unitdisp {      /* Display units of features in filters */
	font-size: 0.8em;
	font-weight: normal;
}
.feature {
	clear:both;
	position: relative;
}
.desc {
	display: none;
	position: absolute;
	top: 2em;
	left: 0;
	padding: 4px;
	border: solid thin black;
	background-color: #fff;
	z-index: 10;
}
.hist {
	position: absolute;
	text-align: left;
	left: 7px;
	top: 16px;
}
.removefilter {
	margin: 2px;
}

/*--------------------------------------//
//                Footer                //
//--------------------------------------*/

#bottomlinks {
	text-align: center;
	font-size: 0.8em;
	color: white;
}
#bottomlinks a {
	color: #93a5ba;
}

/* Content related stuff */
.listing {
	margin: 0;
}
.content {
	margin: 0 10px;
}
.content h2 {
	margin-top: 10px;
}

/*--------------------------------------//
//        Show page and related         //
//--------------------------------------*/

#outsidecontainer {
	position: absolute;
	top: 0px;
	left: 0px;
	border-top: solid 33px #80C35A;
	background: white;
	z-index: 4;
	display: none;
}

div#info {
	margin-top: -33px;
	font-size: 0.9em;
	z-index: 5;
	padding: 2px 2px 2px 8px;
}
div#loading {
	top: 145px;
	left: 145px;
	position: absolute;
	display: none;
	z-index: 2;
	font-size: 1.5em;
	background-color: #eee;
	border: solid black 3px;
	padding: 20px;
}
.close {
	z-index:10;
}

#image {
	text-align: center;
/*	width: 390px; */
	float: left;
}
#features {
	float: left;
}
div#reviews {
	clear:both;
	padding-top: 5px;
}
#features ul {
	list-style-type: none;
	padding-left: 0;
}
.detail_label {
	font-weight: bold;
}
div .showtable{
	float: left;
	text-align: center;
/*	width: 400px; */
	margin-right:10px;
	border: 1px dotted black;
}

.showtable h3 {
	margin:0;
}

div .left{
	float: left;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 10px;
/*	width: 193px; */
	padding:5px;
}

h3 {
	margin: 0;
}

.showtable_mobile {
    background-color: #FFF;
    margin:4px;
    padding: 4px;
}
