div#fade {
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5000px;
	z-index: 3;
	opacity: 0.28;
	filter: alpha(opacity = 28);
	display: none;}
#outsidecontainer {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 800px;
	height: 800px;
	border-top: solid 33px #80C35A;
	background: white;
	z-index: 4;
	display: none;
}
div#info {
	margin-top: -33px;
	font-size: 0.9em;
	z-index: 5;
	padding: 0px 23px 0px 22px;
	}
div#loading {
	top: 345px;
	left: 447px;
	position: absolute;
	display: none;
	z-index: 2;
	width: 200px;
	font-size: 2em;
	background-color: #eee;
	border: solid black 3px;
	padding: 20px;
}
#loading div {
	margin-top: -7px;
}
.close {
	position: absolute;
	top: -22px;
	right: 13px;
}
.poptitle {
	margin: 8px 15px 25px;
	font-weight: bold;
}
#image {
	text-align: center;
	width: 360px;
	float: left;
}
#info h1 {
	font-size: 1.2em;
}
#features {
	width: 390px;
	float: left;
}
div#textfeatures, #reviews{
	clear:both;
}
#features ul {
	list-style-type: none;
}

div .showtable{
	float: left;
	text-align: center;
	width: 400px;
}
div .accesories{
	width: 360px;
	text-align: center;
	margin: 10px 15px 0px 400px;
	border: 2px solid black;
	background-color: #ffff99;
}
.accesories img{
	border: 1px solid black;
	margin-left: 2px;
}
div .left{
	float: left;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 193px;
}
div .right{
	float: right;
	text-align: left;
	margin-bottom: 10px;
	width: 193px;
	
}
div .spacer {
	clear: both;
}
.review {
	font-size: 0.8em;
}
#browseother {
	margin-top: 5px;
	font-size: 0.85em;
	text-decoration: underline;
}
.cartridgeinfo {
	margin: 0px 0px 0px 52px;
}