div #outside { margin: 0px; background-color: #ff9; padding: 0px; }
#features ul { list-style-type: none; }
div#info { position: absolute; background: white; display: none; height: 770px; z-index: 3; width: 800px; top: 20px; }
div #container { margin: 0px auto; background-color: white; padding: 0px 5px; height: 100%; width: 790px; }
#features { float: left; width: 390px; }
#image { text-align: center; float: left; width: 400px; }
div#fade { left: 0; position: absolute; filter: alpha(opacity = 50); background-color: black; display: none; height: 5000px; opacity: 0.5; z-index: 1; width: 100%; top: 0; }
div .showtable { clear: both; text-align: center; }
div .right { margin-bottom: 10px; text-align: left; width: 390px; float: right; }
#full_link { clear: both; }
#close { left: 781px; position: absolute; top: 0px; }
div#textfeatures, #reviews { clear: both; }
div .left { margin-bottom: 10px; margin-top: 5px; text-align: right; width: 390px; float: left; }