div#fade {
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5000px;
	z-index: 1;
	opacity: 0.5;
	filter: alpha(opacity = 50);
	display: none;
	/*margin-left: -6px;
	margin-top: 11px;*/}
div#info {
	background: white;
	position: absolute;
	top: 20px;
	width: 800px;
	height: 770px;
	z-index: 3;
	display: none;}
div#loading {
	top: 345px;
	left: 447px;
	position: absolute;
	display: none;
	z-index: 2;
	width: 200px;
	font-size: 2em;
	background-color: #eee;
	border: solid black 3px;
	padding: 20px;
}
#loading div {
	margin-top: -7px;
}
#close {
	position: absolute;
	top: 3px;
	right: 0px;
}
#showsave {
	position: absolute;
	top: 0px;
	left: 751px;
}

div #container {
	width: 790px;
	padding: 0px 5px;
	background-color: white;
	float: left;
}
div #outside {
	background-color: #ffff99;
	margin: 0px;
	padding: 0px;
}
#image {
	text-align: center;
	width: 400px;
	float: left;
	display: inline;
}

#features {
	width: 390px;
	float: left;
	display: inline;
}
div#textfeatures, #reviews{
	clear:both;
}
#features ul {
	list-style-type: none;
}

div .showtable{
	clear: both;
	text-align: center;
}
div .left{
	float: left;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 390px;
}
div .right{
	float: right;
	text-align: left;
	margin-bottom: 10px;
	width: 390px;
	
}
div .spacer {
	clear: both;
}
#full_link{
	clear: both;
}
.review {
	font-size: 0.8em;
}
#showleftbar {
	float: left;
	width: 149px;
}
#showbacklink {
	float:left;
	margin-right: 3px;
}