/* These rounded border fixes for Internet Explorer 7 are referenced in the optemo.html.erb layout in a conditional comment (an IE-specific construct). They have been here since time immemorial. It's probably not a priority to move them. */

.rounded {
	position: relative;
}
.rounded > .tl, .rounded > .tr, .rounded > .bl, .rounded > .br
{
  width: 8px;
  height: 8px;
  position: absolute;
}

.rounded > .tl
{
  top: -1px;
  left: -1px;
}
.rounded > .tr
{
  top: -1px;
  right: -1px;
}
.rounded > .bl
{
  bottom: -1px;
  left: -1px;
}
.rounded > .br
{
  bottom: -1px;
  right: -1px;
}

.rounded_bd > .tl
{
  background: url(../images/rounded/bd-tl.png) top left no-repeat;
}
.rounded_bd > .tr
{
  background: url(../images/rounded/bd-tr.png) top right no-repeat;
}
.rounded_bd > .bl
{
  background: url(../images/rounded/bd-bl.png) bottom left no-repeat;
}
.rounded_bd > .br
{
  background: url(../images/rounded/bd-br.png) bottom right no-repeat;
}
.rounded_nav > .tl
{
  background: url(../images/rounded/nav-tl.png) top left no-repeat;
}  
.rounded_nav > .tr 
{
  background: url(../images/rounded/nav-tr.png) top right no-repeat;
}
.rounded_nav > .bl
{
  background: url(../images/rounded/nav-bl.png) bottom left no-repeat;
}
.rounded_nav > .br
{
  background: url(../images/rounded/nav-br.png) bottom right no-repeat;
}
.rounded_leftboxes > .tl
{
  background: url(../images/rounded/leftboxes-tl.png) top left no-repeat;
}
.rounded_leftboxes > .tr
{
  background: url(../images/rounded/leftboxes-tr.png) top right no-repeat;
}
.rounded_leftboxes > .bl
{
  background: url(../images/rounded/leftboxes-bl.png) bottom left no-repeat;
}
.rounded_leftboxes > .br
{
  background: url(../images/rounded/leftboxes-br.png) bottom right no-repeat;
}