#logo {
	float:left;
	margin-right: 5px;
	text-decoration: none;
}
#logo span{
	position: absolute;
	top: 5px;
	left: 120px;
	color: #693;
	visibility: hidden;
	font-family: monaco, arial;
	font-weight: bold;
}
#flags {
	float: right;
}
#header {
   padding-top: 8px;
   margin-left: 5px;
   margin-right: 5px;
   position: relative;
   height: 50px;
}
#header_buttons {
	position: absolute;
	height: 40px;
	bottom: -8px;
	right: 0;
}
#header_buttons img{
	margin-top: 0px;
	vertical-align: middle;
}
#tagline {
	display:inline;
	padding-top:10px;
	padding-right:4px;
	padding-left:4px;
	float:left;
}

#filterbar {
	padding-bottom: 12px;
}
#logindisplay
{
	float: right;
	margin-right: 5px;
}

#linkUserLogout {
	text-decoration: none;
	color: #2882DF;
}
#linkUserLogout:hover {
	text-decoration: underline;
}

html {
 height:100%;
 margin: 0;
 padding: 0;
}

body {
 /*font: normal verdana,tahoma,arial; removed because Firefox doesn't like it*/
 font-family: arial;
 padding: 0;
 margin: 0;
 height: 100%;
 position: relative; /*IE6 Resize bug*/
}

#mycenter { 
	margin-left: auto; 
	margin-right: auto; 
	width: 948px;
	position: relative;
}
/* Header */

.hd {
	color: white;
	margin-top: 2px;
	margin-bottom: 4px;
}

h1 {
	font-size: 2.1em;
}
h2 {
	margin: 0px 0px 3px;
	text-align: left;
	font-size: 1em;
	border-bottom: 1px solid #ccc;
}
#title {
	position: absolute;
	left: 291px;
	top: 22px;
	display: none;
}
#intro {
	display: none;
	font-family: 'arial narrow';
	font-size: 1.05em;
	position: absolute;
	left: 291px;
	top: 93px;
	width: 416px;
}

.languageoptions {
	text-align: right;
	font-size:0.7em;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.watermark{
	position: absolute;
	bottom: -18px;
	right: 0px;
	font-size: 0.8em;
}
.bd {
	padding-top: 5px;
	width: 100%;
	height: 100%;
	position: relative;
	min-height: 600px;
}
.rounded {
	-webkit-border-radius: 8px;    /* for Safari */
    -moz-border-radius: 8px;       /* for Firefox */
}
.rounded_bd {
    background-color: white;          /* if needed */
    border: 1px solid #ccc;           /* if needed */
}