<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Billy Bob's Site</title>
  <%=raw stylesheet_link_tag(:bestbuy).gsub(/(.+src=\")(.+\".+)/,"\\1#{@newurl}\\2") %>
  <%=raw javascript_include_tag(:loader).gsub(/(.+src=\")(.+\".+)/,"\\1#{@newurl}\\2") %>
</head>

<body>
	<style>
	body {
		font-family: arial;
		font-size: 0.75em;
	}
	</style>
	<script src="http://www.futureshop.ca/jmvc/jquerymx-custom/jquery.min.js?v=1.7.1" type="text/javascript"></script>
	<%=raw javascript_include_tag(:application).gsub(/(.+src=\")(.+\".+)/,"\\1#{@newurl}\\2") %>
	<h1>Billy Bob's Site</h1>
	<%= render "compare/category_links" %>
	<div id="pagecontentleft2">
	  <div id="optemo_filter"> </div>
	</div>
	<div style="float: left; width: 560px;">
	  <div id="optemo_topbar"> </div>
	  <div id="optemo_content"> </div>
	</div>
</body>

</html>