<h1>About Us</h1>
<p class="index">Our goal is to build a website that makes online shopping easier.</p>

<p class="index">Have you ever wished that online shopping was simpler and more straight forward? You're not alone. Although online sales is a $208 billion market, it is only 4% of total sales in the United Sates.</p>

<p class="index">One of the drawbacks of online shopping for many users is the lack of a shopping assistant.
At Optemo we solve this problem with an intelligent platform that recommends products to the user based on their preferences. We also provide the tools and information a consumer needs to choose the right product.</p>


