<p class="index">Optemo is a new company that focuses on making online shopping easier.</p>
<p class="index">
Do you want to be one of the first to try Optemo or would you like to stay updated with news and information?<br>
Please leave your email address below.</p>
<% form_tag :action => 'create' do %>
<p class="index">Email: <%=	text_field 'welcome','email' %> <%= submit_tag 'Submit' %></p>
<% end %>
