<h1>The Management Team</h1>
<p>Optemo is founded by Maryam Mahdaviani and Jan Ulrich, two Computer Science MSc. graduates from the University of British Columbia.</p>
<br>
<div style="float:left;">
<div id="left">
	<div class="pass"><%= image_tag 'ulrichjold.jpg' %></div>
<p><b>Jan</b> is excited about making online shopping easier for people. He is an active researcher in the areas of intelligent user interfaces and automated multi-document text summarization. He is a recipient of BC Innovation Scholarship.</p>
</div>
<div id="right">
	<div class="pass"><%= image_tag 'maryam1.jpg' %></div>

<p><b>Maryam</b> is an avid online shopper! She has publications on topics of adaptive and preference learning as well as human activity recognition. She has worked at Intel laboratories as well as UBC’s Laboratory for Computational Intelligence. </p>
</div>
&nbsp;
</div>
<div style="float: left;">
<p>Optemo, moreover, benefits from a group of scientific and business advisors.</p>
</div>