<div class="cell">
<div class="first">
<%= image_tag(camera.imagemurl, :width => camera.imagemw, :height => camera.imagemh) %>
</div>
<ul>
	<% for column in Camera.content_columns %>
	    <li><%= camera.send(column.name).to_s.gsub(/^$/,'NULL')[0..20]  %></li>
	  <% end %>
</ul>

</div>