<div class="cell">
<div class="first">
<%= image_tag(camera.imagemurl, :width => camera.imagemw, :height => camera.imagemh) %>
</div>
<ul>
	<% Camera::Interesting_features.each do |f| %>
	    <li><%= camera.display(f)[0..20] %></li>
	  <% end %>
</ul>

</div>