<div <%= 'class="listview_ungrouped"' if @s.search.groupby.nil? && @s.directLayout %> >
<div id="navigator_bar">
	<div id="sorting_method_box"><%=raw sortbyList %></div>
</div>
</div>
<div class='bluesubheading'>Featured products</div>
<a href="" class "">
<%= raw special_main_boxes('featured', 10) %>

<div style="clear:both;"><span id="actioncount" style="display:none"><%= [Session.search.id.to_s].pack("m").chomp %></span></div>