<% if val %>
<%=t $product_type+"."+f, :default => f.capitalize %>: <% unless f == 'price' %><%= val == val.to_i ? val.to_i : val %> <%=t $product_type+"."+f+"unit", :default => '' %><% else %><div class='.sv price'><%= number_to_currency(val) %></div><% end %><br>
<% end %>