<div class="outertitle leftmostoutertitle"><div class="columntitle leftmostcolumntitle">
	<div class="leftcolumntext"><%=t 'compare.index.proddetails'%></div>
</div></div>
<!--<div class="cell whitebg leftmostcolumn" style="height: 42px;">
	<div class="leftcolumntext"><%=t 'products.rating'%>:</div>
</div>-->
<% featurelist.each_index do |column| %>
		<div class="cell <%= column%2==0 ? "graybg" : "whitebg" %> leftmostcolumn">
			<div class="leftcolumntext"><%= t('products.' + featurelist[column]) %>:</div>
		</div>
<% end %>