<div class="<%= filter_label.style.blank? || defined?(selected) ? "label" : filter_label.style %><%= " list_item hanging_margin" if defined? selected %>">
  <% fname = (filter_label.name == "pricePlusEHF" ? "saleprice" : filter_label.name) %>
  <%= t("#{filter_label.product_type}.filter.#{fname}.name", default: fname.capitalize) %><%= ":" if defined?(selected) && Session.futureshop? %>
</div>