<div class="<%= filter_label.style.blank? ? "label" : filter_label.style %>">
  <% fname = (filter_label.name == "pricePlusEHF" ? "saleprice" : filter_label.name) %>
  <%= @t["#{filter_label.product_type}.filter.#{fname}.name"] || fname.capitalize %>
</div>