<div class="<%= f.style.blank? ? "label" : f.style %>">
  <%=t "#{Session.product_type}.specs.#{f.name}.name" %>
  <% if !(unit = t("#{Session.product_type}.specs.#{f.name}.unit", :default => "")).blank? -%>
  <span class="unitdisp">
    (<%= unit %>)
  </span>
  <% end %>
</div>