<div style="clear:both;"><span id="actioncount" style="display:none"><%= [Session.search.id.to_s].pack("m").chomp %></span>
  <span id="landingpage_indicator" style="display:none"><!-- --></span></div>
