<% if Session.search.products_size > Product.per_page %>
  <% products = Session.search.paginated_products %>
  <% if Session.bestbuy? %>
    <span class='pagi-info'><%= page_entries_info(products) %></span>
  <% end %>
  <%= raw "<b>#{t('products.page')}:</b>" unless Session.futureshop? %>
  <%= will_paginate(products, {previous_label: raw("<span class='pagination-prev'></span>"), next_label: raw("<span class='pagination-next'></span>"), page_links: true, outer_window: -4}) %>
<% end %>
<%= link_to t("products.backtotop"), "#", id: "back-to-top-bottom" if (local_assigns[:bottom] && !Session.futureshop?) %>