<!--[if lt IE 7]><style>
/* style for IE6 + IE5.5 + IE5.0 */
#optemo_embedder .gainlayout { height: 0; }
#optemo_embedder #galleria {display: none;}
#optemo_embedder .mainprodimg {display: block !important;}
#optemo_embedder #loading {width: 86px;}
</style><![endif]-->

<!--[if gte IE 7]><style>
#optemo_embedder .white_swatch {
	width: 11px;
	height: 11px;
	border: 1px solid #ccc;
}
</style><![endif]-->

<!-- Piwik -->
<noscript><p><img src="http://analytics.optemo.com/piwik.php?idsite=<%= s.piwikSiteId %>" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tag -->
