<!--[if lt IE 7]><style>
/* style for IE6 + IE5.5 + IE5.0 */
.gainlayout { height: 0; }
#galleria {display: none;}
.mainprodimg {display: block !important;}
</style><![endif]-->
 
<!--[if IE 7]><style>
.gainlayout { zoom: 1; }
.hist {left: 15px; }
</style><![endif]-->

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://analytics.optemo.com/" : "http://analytics.optemo.com/");
var piwik_script_tag = document.createElement("script");
piwik_script_tag.setAttribute("src", pkBaseURL + 'piwik.js');
piwik_script_tag.setAttribute("type", "text/javascript");
document.getElementsByTagName("head")[0].appendChild(piwik_script_tag);

if (piwik_script_tag.readyState){  //IE
    piwik_script_tag.onreadystatechange = function(){
        if (piwik_script_tag.readyState == "loaded" ||
                piwik_script_tag.readyState == "complete"){
            piwik_script_tag.onreadystatechange = null;
            piwik_ready(); // Using square bracket notation because the jquery object won't be initialized until later
        }
    };
} else {  //Others
    piwik_script_tag.onload = function(){
        piwik_ready();
    };
}

function piwik_ready() {
//    try {
        window.piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", <%= s.piwikSiteId %>); // idsite is here
		piwikTracker.setDocumentTitle('Index');
		piwikTracker.setCustomData({'optemo_session':<%= s.id %>, 'filter_type' : "index"});
		piwikTracker.trackPageView();
		// I'm not sure what emptying the title and data do, but it seems like a standard pattern.
		piwikTracker.setDocumentTitle('');
		piwikTracker.setCustomData({});
        piwikTracker.enableLinkTracking();
//    } catch( err ) {}
}

</script><noscript><p><img src="http://analytics.optemo.com/piwik.php?idsite=<%= s.piwikSiteId %>" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tag -->
