<!--[if lt IE 7]><style>
/* style for IE6 + IE5.5 + IE5.0 */
.gainlayout { height: 0; }
#info{padding: 0px 20px 0px 20px !important;}
#galleria {display: none;}
.mainprodimg {display: block !important;}
</style><![endif]-->
 
<!--[if IE 7]><style>
.gainlayout { zoom: 1; }
.hist {left: 15px; }
</style><![endif]-->

<!--[if gte IE 7]><style>
@import url("/stylesheets/welcomeIE.css");
</style><![endif]-->

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://analytics.optemo.com/" : "http://analytics.optemo.com/");
var piwik_script_tag = document.createElement("script");
piwik_script_tag.setAttribute("src", pkBaseURL + 'piwik.js');
piwik_script_tag.setAttribute("type", "text/javascript");
document.getElementsByTagName("head")[0].appendChild(piwik_script_tag);
</script>
<script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", <%= s.piwikSiteId %>); // idsite is here
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://analytics.optemo.com/piwik.php?idsite=<%= s.piwikSiteId %>" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tag -->
