<div> <!-- Need this for javascript to access this slider's value -->
<%= hidden_field_tag "mypreference[#{val}_pref]", Session.current.features.send("#{val}_pref".intern), {:class => 'prefValue'} %>
<div class="preferenceSlider" id='<%= "#{val}_pref" + "Slider"%>' pref-value='<%= Session.current.features.send("#{val}_pref".intern) * 100%>'>
								<!-- X 100 because preference value is stored in (0,1) but showed in (0,100)-->
	<div class='label space preferences'>
		<%= val %>  
	</div>	
</div>
</div>