<% if @ajax != "true" %>
	<div id="c<%= local_assigns[:nox].nil? ? product.id : "last_click"%>" class="saveditem">
<% end %>
<!-- I think this might be dead code thanks to client-side comparison. -->
<%= image_tag product.imagesurl, :width => product.imagesw, :height => product.imagesh, :class => "productimg", :"data-id" => product.id %>
<div class="smalldesc"><%= link_to product.tinyTitle, "#", :class => "easylink", :"data-id" => product.id %></div>
<%= link_to image_tag('close.png'), "#", :"data-name" => product.id, :class => 'deleteX' if local_assigns[:nox].nil?%>
<% if @ajax != "true" %>
	</div>
<% end %>
