	<!-- If the interesting feature should be displayed then display -->
	<% if @interestingFeatureDisplayed[column] == true %>
		<td>
		<% contColumn = DispContFeatureDictionary(column) %>
		<% if @bestvalue[contColumn] != nil && (@bestvalue[contColumn] == product.id || IsPresentInCSV(product.id, @bestvalue[contColumn])) %>	<!-- first not-nil condition for optimization -->
			<b><%= finalDisplay(product, column) %></b>		
		<% else %>
			<%= finalDisplay(product, column) %>
		<% end %>		
		</td>
	<% end %>
