<%# Freezing the object is a convenient way to keep track of if its been printed before %>
<%= last_heading.freeze unless last_heading.frozen? %>
<div class="list_item hanging_margin">
  <%= selected %>
  <% unless selected.name == "keyword" %>
    <a class='remove_filter' href='#' data-id="<%= selected.data_id %>">
      <div><!-- --></div>
      <%= Session.futureshop? ? t('products.compare.remove') : t('products.compare.undo') %>
    </a>
  <% end %>
</div>