<% sortbyList = [["Sort by: Relevance","Relevance"]]%>
<%@s.continuous["cluster"].map{|f| sortbyList << ["Sort by: "+ t('products.sortby.'+f), f]}%>
<div id="sorting_method_box"><%= select('sorting_method', @s.search.sortby, sortbyList, {:selected => @s.search.sortby}, {:id => "sorting_method"}) %></div>