<div id="silkscreen">&nbsp;</div>
<div id="loading"><%= image_tag "spinner_white_background.gif" %></div>
<div id="outsidecontainer"><div id="info">&nbsp;</div></div>

<!-- CrazyEgg tracking -->
<script type="text/javascript" src="http://dnn506yrbagrg.cloudfront.nzet/pages/scripts/0011/8157.js"></script>
<!-- End CrazyEgg tracking -->