<div class="bundle_box_border_container">
  <div class="bundlesbox">
    <div class="bundle_first_item">
      <div class="bundle_header">
        Package Deals:<br>
        $159.97
      </div>
      <div class="bundle_bullet_point">• Lowepro Camera Bag</div>
      <div class="bundle_bullet_point">• PNY 16GB Memory Card</div>  
      <div class="bundle_image"><!-- --></div>
    </div>
    <div class="bundle_first_spacer"><!-- --></div>
    <div class="bundle_item">
      <div class="bundle_image"><!-- --></div>
      <div class="bundle_header">
        $159.97
      </div>
      <div class="bundle_bullet_point">• Lowepro Camera Bag</div>
      <div class="bundle_bullet_point">• PNY 16GB Memory Card</div>  
    </div>
    <div class="bundle_spacer"><!-- --></div>
    <div class="bundle_more_deals_stub">
      <div class="more_package_deals_plus"><!-- --></div>
      <div class="bundle_package_stub_text">More Package Deals</div>
    </div>
  </div>
</div>
