<div class="cell">
	<td>
		<div align="right">
			<%= image_tag('close.png', :width => '13', :onClick => "", :style => "cursor: pointer;") %>
		</div>
		<div class="first">	
 			<%= image_tag(thumbnails.imagemurl, :width => thumbnails.imagemw, :height => thumbnails.imagemh, :onClick => "fadeout(#{thumbnails.id});", :style => "cursor: pointer;") %>
 		</div>
	</td>
</div>