<div id='your_selections' class='feature'>
  <div class="selection_label hanging_margin"><%= t('products.compare.selections') %></div>
  <div id="selections_text">
    <%= yield %>
  </div>
  <% if Session.futureshop? %>
    <div class="hanging_margin" style="margin-top: 7px;">
      <%= link_to t('products.compare.futureshop_reset'), "/", :class => "reset regular_reset", :rel => "nofollow", :title => t('products.compare.resetdesc') %>
    </div>
  <% end %>
</div>