<%= render 'category_links' %>
<div id="opt_discovery">
  <div id="leftbar">
  	<!-- The Filters section -->
  	<div id="optemo_filter" class="optemo">
  	</div>
  </div>
  <div id="main">
    <div id="optemo_topbar" class="optemo">
    </div>
    <div id="optemo_content" class="optemo">
      <div>
      </div>
      <div>
        <!--Static Content-->
        <div id="opt_silkscreen">&nbsp;</div>
        <div id="opt_loading"><%#=t('products.show.loading')%></div>
        <div id="opt_outsidecontainer" data-layout=<%= Session.futureshop? ? 'fs' : 'bb' %>><div id="info">&nbsp;</div></div>
      </div>
    </div>
  </div>
</div>


