<% self.title = "#{@s.product_type.capitalize}" unless @indexload %>
<% main_window = render :partial => 'discoverybrowser' unless @indexload %>
<div class="left-right-wrapper">
<div id="leftbar">
	<!-- The Filters section -->
	<div id="filterbar" class="leftboxes">
		<div id="ajaxfilter">
			<% unless @indexload %>
				<%= render :partial => 'filter', :locals => {:s => Session, :current_search => Session.search} %>
			<% end  %>
		</div>
	</div>
	

</div>
<div id="main">
	<% if @indexload %>
		<div id="opt_discovery"></div>
	<% else %>
		<%= main_window %>
	<% end %>
</div>
</div>
<p id="back-top">
  <a href="#"><span></span>Back to Top</a>
 </p>

