<%= render 'category_links' %>
<div id="opt_discovery">
  <div id="leftbar">
  	<!-- The Filters section -->
  	<div id="optemo_filter" class="optemo">
  	</div>
  </div>
  <div id="main">
    <div id="optemo_topbar" class="optemo">
    </div>
    <div id="optemo_content" class="optemo">
      <div>
      </div>
      <div>
        <%= render "static" %>
      </div>
    </div>
  </div>
</div>


