[ERR]
<!--<%= @errortype %>-->
<div class="poptitle">&nbsp;</div>
<p><%=t("products.ErrorPart1") + " " + t("products.here") + " " + t("products.ErrorPart2")%></p>
<% if @errortype == "filter" %>
[BRK]<%= render :partial => 'filter' %>
<% end %>