<center><h1>Item Comparison</h1></center>
<%= link_to 'Go back to navigation', :back, {:style => 'position:absolute; top:0;left:0;'}%>
<%# Descriptions %>
<div class="cell">
<div class="first">
	<br><br><br><br>
<h2>Product Features</h2>
</div>
<!-- To display the names of interesting features that are known for at least one saved product-->
<ul>
	<% countVar = 0%>
	<% session[:productType].constantize::InterestingFeatures.each do |column| %>	    
			<% if @interestingFeatureDisplayed[countVar] == true %>
				<li><%= column.gsub(/_id$/, '').gsub(/str$/,' ').gsub(/_/,' ').capitalize %></li> 		
			<% end %>	
		<% countVar = countVar + 1 %>
	<% end %>
</ul>
</div>

<!-- To display the value of each interesting feature -->
<%= render :partial => 'product', :collection => @products %>

<%# This moves the border to the bottom %>
<div class="clear"></div>