<h1>Compare Items</h1>

<%# Descriptions %>
<div class="cell">
<div class="first">
	<br><br><br><br>
<h2>Product Features</h2>
</div>
<ul>
	<% for column in Camera.content_columns %>
	    <li><%= column.human_name %></li>
	<% end %>
</ul>
</div>

<%= render :partial => 'camera', :collection => @cameras %>

<%# This moves the border to the bottom %>
<div class="clear"></div>