<div style="text-align: center; font-weight: bold; font-size: 1.5em;">Optemo Staging Server</div>
<%= form_tag "/" do %>
	Please enter the password:<br>
	<%= text_field "checked", "password" %>
	<%= submit_tag "Proceed" %>
<% end %>