<div class="decisionoverlay">
	<h1> <%=t 'survey.decision' %> </h1>
	<p> <%=t 'survey.decisiontext' %> </p>
	<div class="leftbutton"> <%= button_to t('survey.yesoption'), "", :id => 'yesdecisionsubmit' %> </div>
	<div class="rightbutton"> <%= button_to t('survey.nooption')+"&nbsp;", "", :id => 'nodecisionsubmit' %> </div>
</div>