<div class="main">
	<h1>Find your camera</h1>
	<p>Welcome to our camera shopping service. On the next page you will find Optemo's camera browsing and exploration platform.</p> 
		
	<p>9 cameras will be displayed at a time. These cameras have been selected to represent the different types of cameras available. If you find one you like, you can click on the yellow button to explore similar cameras. We will then focus the search to show you cameras that are closer to what you have in mind. The platform also allows you to filter cameras based on different features, search for specific terms, and save cameras for comparison.</p>
	<%= link_to 'Continue', :controller => 'search' %>
</div>

<div class="main2" style="display:none;">
	<p>Welcome to our camera shopping service. We allow you to browse all the cameras on Amazon efficiently. If you see a camera you like you can click on see more and it will then show you similar cameras. In this way you can narrow your search very quickly.</p>
	
	<p>Please choose what kind of cameras are you interested in?</p>
	
	<p><%= link_to image_tag('pointnshoot.jpg'), :controller => 'search' %></p>
	
	<p><%= link_to image_tag('slr.jpg'), :controller => 'search' %></p>
</div>


	

