/* CSS declarations shared between all views (Assist / Direct / Mobile) go here. */

/* Table of Contents
 * -----------------
 *  Global Declarations
 *  Navigator Bar
 *  Main Content (Right Side)
 */

/*--------------------------------------//
//         Global Declarations          //
//--------------------------------------*/
#pagecontentleft2 {
  width: 180px !important;
  margin-right: 5px !important;
  float: left;
  clear: left;
}

#pagecontentmain2 {
    float: left;
    width: 560px;
}

.optemo a img {	border: none; }
.optemo a { text-decoration: none; }
.optemo a:hover {	text-decoration: underline; }

/*--------------------------------------//
//            Navigator Bar             //
//--------------------------------------*/

.optemo #IE #navtitle{
  display: inline-block;
  border: none;
}
.optemo div .spacer {
	clear: both;
}
