/* CSS declarations shared between all views (Assist / Direct / Mobile) go here. */

/* Table of Contents
 * -----------------
 *  Global Declarations
 *  Navigator Bar
 *  Main Content (Right Side)
 */

/*--------------------------------------//
//         Global Declarations          //
//--------------------------------------*/
#pagecontentleft2 {
  width: 180px;
  margin-right: 5px;
  float: left;
}

.optemo a img {	border: none; }
.optemo a { color: #0000EE; }
.optemo a:visited { color: #0000AB;}


/*--------------------------------------//
//            Navigator Bar             //
//--------------------------------------*/

.optemo .left-right-wrapper {
	clear: both;
	overflow: hidden;
}

.optemo #columnheader {
	font-size: 0.8em;
	padding-top: 4px;
	height: 27px;
}
/* Header */

.optemo a {
	text-decoration: none;
}
.optemo a:hover {
	text-decoration: underline;
}

.rounded {
	-webkit-border-radius: 8px;    /* for Safari */
  -moz-border-radius: 8px;       /* for Firefox */
  border-radius: 8px;            /* Opera, KHTML, others */
}

.optemo #navtitle {
  display: inline-block;
  margin-left: 17px;
  margin-top: 9px;
  font-weight: bold;
  
}
.optemo #navtitle .nav-number{
  font-size: 39pt; float:left; margin-right: 7px; font-weight: bold;color: #333;
}
.optemo #navtitle .sub-title{
  float: left;
  margin-top: 7px;
}
.optemo #navtitle .sub-title .outof{
  font-size: 11pt;
  color: #333;
  margin-left: 3px;
}
.optemo #navtitle .nav-available-text{
  color: #333;
  font-size: 15pt;
  font-weight: bold;
}

.optemo #IE #navtitle{
  display: inline-block;
  border: none;
}
.optemo div .spacer {
	clear: both;
}