<div class="preferenceSlider" id='<%= "#{val}_pref" + "Slider"%>' pref-value='<%= @session.features.send("#{val}_pref".intern) %>'>
	<div class='label space'>
		<%= val %>
	</div>	
	<div class="endlabel_min">0</div>
	<div class="endlabel_max">1</div>
</div>