<div class="preferenceSlider" id='<%= "#{val}_pref" + "Slider"%>' pref-value='<%= @session.features.send("#{val}_pref".intern) * 100%>'>
								<!-- X 100 because preference value is stored in (0,1) but showed in (0,100)-->
	<div class='label space preferences'>
		<%= val %>  
	</div>	
	<div class="endlabel_min_Preferences"> 0 </div>
	<div class="endlabel_max_Preferences"> 1 </div>
</div>