<div id="c<%= local_assigns[:nox].nil? ? product.id : "last_click"%>" class="saveditem">
<%= image_tag product.imagesurl, :width => product.imagesw, :height => product.imagesh, :onClick => "fadeout(#{product.id});" %><br> 
<p class="smalldesc"><%= link_to product.tinyTitle, "javascript:fadeout(#{product.id});" %></p>
<%= link_to image_tag('close.gif'), "javascript:remove(#{product.id})", :"data-name" => product.id, :class => 'deleteX' if local_assigns[:nox].nil?%>
</div>