<div class="main">
	<h1>Find your camera</h1>
	<p style="text-align:left;">Welcome to our camera shopping service. On the next page you will find Optemo's camera browsing and exploration platform.<br> 
		
	9 cameras will be displayed at a time. These cameras have been selected to represent the different types of cameras available.<br>
	
	 If you feel that your ideal camera is close to one of those, click on the yellow button to explore similar cameras. We will then focus the search to show you cameras that are closer to what you have in mind.
		<br> 
		The platform also allows you to filter cameras based on different features and brands. At the beginning or in the middle of the search you could use the filtering panel on the left and press filter for a more narrow exploration.<br>
		
		At any time if you feel you are interested in a camera you could click on the camera pictures or the link below the picture to see a detailed product description and get directed to sellers. 
			<br>
			
			 You could save your selections by hitting the orange "save" button. Saved selections could be compared by clicking on "compare them" link. </p> 
	<%= link_to 'Continue', :controller => 'search' %>
<p><%= link_to image_tag('OptemoScreenShot.png')%> </p>

</div>



<div class="main2" style="display:none;">
	<p>Welcome to our camera shopping service. We allow you to browse all the cameras on Amazon efficiently. If you see a camera you like you can click on see more and it will then show you similar cameras. In this way you can narrow your search very quickly.</p>
	
	<p>Please choose what kind of cameras are you interested in?</p>
	
	<p><%= link_to image_tag('pointnshoot.jpg'), :controller => 'search' %></p>
	
	<p><%= link_to image_tag('slr.jpg'), :controller => 'search' %></p>
</div>


	

