<% self.title = "About Us" %>
<% self.describe = "At Laserprinterhub we are solely dedicated to laser printers." %>
<div class="article">
<h1>About Us</h1>
At laserprinterhub we're all about laser printers. We strive to provide all the tools and advice you need to help you find the right laser printer. Use laserprinterhub to give you an overview of all the different types of laser printers available, and then start comparing them and getting closer to that perfect printer. We provide details on all the different laser printers. When you found your printer, find the best retailer for you from our price comparisons.
</div>