<% self.title = "About Us and Overview" %>
<% self.describe = "Laserprinterhub is solely dedicated to help you find the right printers." %>
<div class="article">
<h1>About Us</h1>
Laserprinterhub strives to provide you with all the tools and advice you need to find the right laser printer. Our <u>Discovery Browsing</u> system (powered by <a href="http://optemo.com/">Optemo</a>) is specifically designed to give you an easy and enjoyable shopping experience, as well as to provide you with the assistance you would receive from an in-store sales assistant. Laserprinterhub will not only give you an overview of all the different types of laser printers available, but also allows you to compare their technical specifications and price ranges at different retailers. 

<h1>Overview</h1>
<h3>How does discovery browsing work?</h3>
Shopping for any product category online can be rather difficult. Different sites often presume that users have certain knowledge levels, and either offer a limited product range or necessitate shoppers to do extensive research prior to buying. The organization of discovery browsing provides you with an enjoyable shopping experience by fulfilling two purposes:
<ol> 
<li>It helps to reduce the number of decisions a user has to make while shopping.</li>
<li>It helps users to learn more about products passively during their shopping experience.</li>
</ol>
<h3>How do I start shopping?</h3>
<b>First</b>, choose the primary use your laser printer will have, such as private use, photography or corporate use. Your choice will pre-screen suitable printers and take you to the next page with a matrix of 9 printer groups. <b>Second</b>, each of the 9 printer groups have certain characteristics, such as printing speed, resolution or price range. Explore the printer groups that look appealing to you, or save the printers that you like in order to compare them later. <b>Third</b>, use the keyword search on the left-hand side, or combine any search by using the sliders which showcase the ranges of different properties, such as size, price or speed.
</div>