<% self.title = "Why buy a laser printer?" %>
<% self.describe = "An explanation of why to buy a laser printer, citing the advantages and disadvantages." %>
<div class="article">
<h1>Why buy a laser printer?</h1>
A laser printer can be a great investment if you need to do a lot of printing. Compared to an inkjet printer, the upfront costs are more expensive, but you will make this money back within a year since the upkeep costs are much less. A laser printer uses toner instead of ink to print on paper. Toner is more expensive than ink, but it lasts much longer. As a rule of thumb, if you print more than 100 pages a month, it becomes worthwhile to buy a laser printer. The price of laser printers has come down dramatically, so now is a good time to invest in a laser printer.
</div>
<div class="article_link">
	<%= link_to 'Go find a laser printer','/' %>
</div>