<h1>Terms of Use</h1>
We are not held reliable to the information provided on this website. Although it is updated continuously there can be mistakes on the website.
We do not sell any printers, we only redirect you to various online merchants.
We are not responsible for any action performed on any of the vendors websites.