<% s = Session %>	
<html>
    <head>
        <title>My Amazing Store</title>
		<%= raw stylesheet_link_merged(s.directLayout ? :direct : :assist) %>
    </head>
    <body>
        <div style="border:1px solid black;padding:3px; margin:3px;">
            <center>My Amazing Store</center>
        </div>
        <!-- easyXDM.Debug.trace(msg) will output its messages to any element with the id "log" -->
        <div id="log" style="height:100px; border:1px dotted black; overflow:auto; display:none;">
        </div>

		<div id="optemo_embedder"> <!-- This is where the discovery browser interface actually renders -->
			<% yield %>
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
			<!-- The jquery-ui script is being included locally due to the custom jquery-ui being about 45k instead of 200kb from Google's CDN -->
			<%= raw javascript_include_merged :base %>
		</div>

    </body>
</html>
